body {
    margin: 0;
    padding: 0;
  }
  
  redoc {
    display: block;
  }
  
  /* Header and navigation */
  header {
    height: 54px;
  }
  
  nav {
    top: 0;
    /* position: fixed; */
    width: 100%;
    background-color: #77bffc;
    z-index: 10;
  }
  
  nav a {
    display: block;
    padding: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }
  
  nav img{
    padding-left:15px
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    font-size: 1.5em;
    float: left;
  }
  .scrollbar-container div a{
    display:none
  }
  
  /* nav li:not(.active) {
    border-top: 6px solid transparent;
  } */
  
  /* nav li:hover:not(.active) {
    border-top: 6px solid #fff;
  } */
  
  /* nav .active {
    border-top: 6px solid #fff;
  } */
  
  /* vim: set ts=2 sw=2 et: */