<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
  margin: 0;
  padding: 0;
}

redoc {
  display: block;
}

/* Header and navigation */
header {
  height: 54px;
}

nav {
  top: 0;
  /* position: fixed; */
  width: 100%;
  background-color: #77bffc;
  z-index: 10;
}

nav a {
  display: block;
  padding: 35px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

nav img {
  padding-left: 15px;
}

nav a:hover {
  color: #ccc;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  font-size: 1.5em;
  float: left;
}
.scrollbar-container > div a {
  display: none !important;
}
  </style>
  {{{redocHead}}}
  {{#unless disableGoogleFont}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  {{/unless}}
</head>

<body>
  <header>
    <nav>
      <img src="https://gblobscdn.gitbook.com/spaces%2F-LjpGV8UoiX-Qg-72-4K%2Favatar-1594576997136.png?alt=media" alt=""
        width="50">
    </nav>
  </header>
  {{{redocHTML}}}

</body>

</html>