<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/stylesheet.css">
  {{{redocHead}}}
  {{#unless disableGoogleFont}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  {{/unless}}
</head>

<body>
  <header>
    <nav>
      <img src="https://gblobscdn.gitbook.com/spaces%2F-LjpGV8UoiX-Qg-72-4K%2Favatar-1594576997136.png?alt=media" alt=""
        width="50">
    </nav>
  </header>
  {{{redocHTML}}}
</body>

</html>