openapi: 3.0.3
info:
  title: SeerBit External API Reference
  version: "1.0"
  description: OpenAPI reference generated from the current Postman collection.
    Each operation corresponds directly to a request in the Postman collection.
servers:
  - url: https://seerbitapi.com
tags:
  - name: AUTHENTICATION
    description: Create the encrypted key used as the Bearer token for authenticated
      SeerBit API requests.
  - name: STANDARD CHECKOUT
    description: Create hosted checkout payment links, including normal and
      split-payment flows.
  - name: VIRTUAL ACCOUNTS
    description: Create and manage virtual bank accounts and retrieve their payment
      activity.
  - name: PAYMENT METHODS
    description: Initiate direct payments by card, bank account, transfer, USSD, or
      mobile money.
  - name: PAYMENT QUERY
    description: Look up the current result and details of a payment using its reference.
  - name: INVOICING
    description: Create, send, retrieve, and manage merchant invoices.
  - name: TOKENIZATION
    description: Tokenize cards and use authorization tokens for subsequent or bulk charges.
  - name: RECURRING & SUBSCRIPTIONS
    description: Create and manage subscription plans, customer subscriptions, and
      recurring charges.
  - name: PAYMENT LINKS
    description: Create, retrieve, update, and remove reusable payment links.
  - name: POCKET
    description: Authenticate and manage SeerBit Pockets, including balances,
      sub-pockets, and internal transfers.
  - name: PAYOUT
    description: Verify destination accounts and initiate or confirm external bank payouts.
  - name: PARTNERS API
    description: Authenticate partner accounts and manage invited businesses,
      commissions, and partner credentials.
  - name: WEBHOOKS (REFERENCE)
    description: Reference payloads SeerBit sends to your callback URL for
      payment-related events.
paths:
  /api/v2/encrypt/keys:
    post:
      tags:
        - AUTHENTICATION
      summary: Generate Encrypted Key
      description: >-
        Exchanges your `SECRET_KEY` and `publicKey` for an `EncryptedSecKey`.
        Use that value as the `BearerToken` collection variable — it's the
        Bearer token for every other authenticated request here. Call this once
        per session, or whenever your key changes; it does not expire on a fixed
        schedule but should be re-generated if a request starts failing auth.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `key` | string | Yes | Your `SECRET_KEY` and `publicKey` joined with a period: `SECRET_KEY.publicKey` |


        This endpoint is intentionally **No Auth** — you don't have a token yet when you call it.
      operationId: post_generate-encrypted-key_0
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              generate-encrypted-key:
                summary: Generate Encrypted Key
                value:
                  key: "{{SECRET_KEY}}.{{publicKey}}"
      responses:
        "200":
          description: Successful response
  /api/v2/encrypt/hashs:
    post:
      tags:
        - AUTHENTICATION
      summary: Generate Hash
      description: >-
        Generic hash-generation endpoint — you pass the exact same body as the
        request you want a hash for, and SeerBit returns a hash you attach to
        that other call. The doc page's own worked example happens to use a
        subscription-creation payload (shown in this request's saved body); swap
        the body for whatever request you're actually hashing, keeping the same
        field names and types that request expects.


        **Not independently re-confirmed in this pass:** the doc page's response example describes the _downstream_ payment response (redirectUrl, paymentReference) rather than what this endpoint itself returns — no saved example response here; verify against a live sandbox call before relying on the shape.
      operationId: post_generate-hash_1
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              generate-hash:
                summary: Generate Hash
                value:
                  publicKey: "{{publicKey}}"
                  paymentReference: sub_ref_001
                  planId: "{{planId}}"
                  cardNumber: "5123450000000008"
                  expiryMonth: "01"
                  callbackUrl: https://example.com/callback
                  expiryYear: "28"
                  cvv: "000"
                  amount: "100"
                  currency: NGN
                  productDescription: Subscription
                  productId: product222
                  country: NG
                  startDate: 2026-09-01
                  cardName: Jane Doe
                  billingCycle: MONTHLY
                  email: customer@example.com
                  mobileNumber: "08012345678"
                  billingPeriod: "1"
                  subscriptionAmount: false
      responses:
        "200":
          description: Successful response
  /api/v2/payments:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Normal Payment (No Split)
      description: >-
        Creates a transaction and returns a `redirectLink` to SeerBit's hosted
        checkout page — send the customer there to enter payment details and
        complete the charge. No card data touches your server with this flow,
        and the full amount settles to your main merchant account with no split.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key from the dashboard |

        | `amount` | string | Yes | Amount to charge |

        | `currency` | string | Yes | Transaction currency, e.g. `NGN`, `USD` |

        | `country` | string | Yes | Country the transaction originates from |

        | `paymentReference` | string | Yes | Unique reference you generate per transaction |

        | `email` | string | Yes | Customer email address |

        | `fullName` | string | Yes | Customer full name |

        | `callbackUrl` | string | Yes | Where SeerBit redirects the customer after payment |

        | `tokenize` | boolean | No | **Confirmed by SeerBit.** If `true`: (1) the checkout page on `redirectLink` only offers **Card** as a payment method — no bank transfer, USSD, or other channels; (2) SeerBit tokenizes the card, and the resulting `authorizationCode` is not in this endpoint's own response — it's returned when you call **Check Payment Status** afterward with the `paymentReference`. Use that `authorizationCode` with *Charge Authorization Token* / *Bulk Charge Token* to charge the same card again. Defaults to `false` if omitted. |


        This is the baseline request with no split fields — see the sibling requests in this folder **Standard Checkout — Easy Split (Split Code)** and **Standard Checkout — Full Dynamic Split** for the two ways to divide a payment across sub-accounts.


        A `409` means `paymentReference` has already been used — generate a new one per attempt, don't retry with the same value.
      operationId: post_normal-payment-no-split_2
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              normal-payment-no-split:
                summary: Normal Payment (No Split)
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference8
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments#standard-checkout-easy-split-split-code:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Standard Checkout — Easy Split (Split Code)
      description: >-
        Same Standard Checkout flow as **Normal Payment (No Split)**, plus a
        single `splitCode` field: the code of a split rule you pre-configure
        once (recipients, percentages/amounts, fee bearer) on the SeerBit
        dashboard, then reference by code at payment time. This is the "easy"
        option — you don't specify recipients or amounts inline; the rule
        already defines them.


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `splitCode` | string | Yes (for this variant) | Reference to a split rule created in advance on the SeerBit dashboard. |

        | `tokenize` | boolean | No | **Confirmed by SeerBit.** If `true`, the checkout page restricts payment to **Card only**, and the `authorizationCode` for the tokenized card comes back from **Check Payment Status**, not this endpoint's own response. Defaults to `false`. |

        | *(all other fields)* | | Yes | Same as **Normal Payment (No Split)** |


        Use this when your split recipients and their shares are fixed and known ahead of time. If you need to set the split's recipients or shares dynamically per transaction, use **Standard Checkout — Full Dynamic Split** instead.


        **Not fully confirmed**: doc.seerbit.com documents `splitCode` only as `"Split rule Code"` in an example body, without a dedicated page describing how split rules are created on the dashboard or the exact code format — check your dashboard's split-rule setup screen for the value to use here.
      operationId: post_standard-checkout-easy-split-split-code_3
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              standard-checkout-easy-split-split-code:
                summary: Standard Checkout — Easy Split (Split Code)
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_split_code1
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
                  splitCode: SPLIT_RULE_CODE
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments#standard-checkout-full-dynamic-split:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Standard Checkout — Full Dynamic Split
      description: >-
        Same Standard Checkout flow as **Normal Payment (No Split)**, plus a
        `splits` object defining recipients and shares inline, at payment time —
        no pre-configured split rule needed. Use this when split details aren't
        known in advance (e.g. a marketplace computing a different vendor split
        per order).


        **`splits` object fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `type` | string | Yes | `FLAT` (fixed amount per recipient) or `PERCENTAGE` |

        | `transactionFee` | string | Yes | Who bears the transaction fee — `ALL_ACCOUNTS`, `PROPORTIONATE`, `SUB_ACCOUNT`, or `PARENT_ACCOUNT` |

        | `bearerSubAccountCode` | string | Only if `transactionFee` is `SUB_ACCOUNT` | Which sub-account bears the fee |

        | `items` | array | Yes | Each entry: `subAccountCode` and its `value` (amount or percentage, matching `type`) |


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `tokenize` | boolean | No | **Confirmed by SeerBit.** If `true`, the checkout page restricts payment to **Card only**, and the `authorizationCode` for the tokenized card comes back from **Check Payment Status**, not this endpoint's own response. Defaults to `false`. |

        | *(all other core fields)* | | Yes | Same as **Normal Payment (No Split)** |


        Compare **Standard Checkout — Easy Split (Split Code)**, which references a split rule you configured ahead of time instead of specifying recipients inline.
      operationId: post_standard-checkout-full-dynamic-split_4
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              standard-checkout-full-dynamic-split:
                summary: Standard Checkout — Full Dynamic Split
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_dynamic1
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
                  splits:
                    type: PERCENTAGE
                    transactionFee: PARENT_ACCOUNT
                    items:
                      - subAccountCode: SUB_ACC_001
                        value: "30"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/virtual-accounts:
    post:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Create Virtual Account
      description: >-
        Issues a dedicated bank account number for one customer. Transfers into
        that account are reconciled back to the customer automatically — use
        *Get Payments* to see what's landed on it.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key |

        | `fullName` | string | Yes | Customer's full name, used as the account name |

        | `email` | string | Yes | Customer email |

        | `currency` | string | Yes | Currency code, e.g. `NGN` |

        | `country` | string | Yes | Country code, e.g. `NG` |

        | `reference` | string | Yes | Your unique reference for this virtual account — also used to fetch/delete it later |

        | `bankVerificationNumber` | string | No | Customer's BVN, for verification |


        Response returns `walletName`, `bankName`, and `accountNumber` for the customer to pay into.
      operationId: post_create-virtual-account_5
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create-virtual-account:
                summary: Create Virtual Account
                value:
                  publicKey: "{{publicKey}}"
                  fullName: Jane Smith
                  bankVerificationNumber: ""
                  currency: NGN
                  country: NG
                  reference: FIRST_VIRTUAL_17
                  email: js@emaildomain.com
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{paymentReference}":
    get:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Get Virtual Account
      description: Fetches details for one virtual account by the `reference` used to
        create it (passed here as `paymentReference`). Response includes
        `linkingReference`, `wallet`, `bankName`, and `accountNumber`.
      operationId: get_get-virtual-account_6
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{reference}":
    delete:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Delete Virtual Account
      description: Deactivates a virtual account by its `reference`. On success,
        returns a confirmation message — "Virtual account has been deleted".
      operationId: delete_delete-virtual-account_7
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: reference
          in: path
          required: true
          description: Value of reference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{publicKey}/{accountNumber}":
    get:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Get Payments
      description: "Lists transactions that have landed on one virtual account,
        identified by `publicKey` and `accountNumber` in the path. Each entry
        includes `amount`, customer name, `paymentType`, `status`, settlement
        info, and `transferType: RESERVE_ACCOUNT`."
      operationId: get_get-payments_8
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: accountNumber
          in: path
          required: true
          description: Value of accountNumber
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates:
    post:
      tags:
        - PAYMENT METHODS
      summary: Card Payment
      description: >-
        Direct/inline card charge — you collect the card's PAN, expiry and CVV
        on your own form and POST them here, instead of redirecting the customer
        to SeerBit's hosted page (compare **Standard Checkout**, which never
        touches raw card data on your server). Because this endpoint receives
        raw card details, your integration is in PCI-DSS scope — SeerBit's
        hosted **Standard Checkout** flow is the lower-compliance-burden
        alternative most integrators should default to.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key |

        | `amount` | string | Yes | Amount to charge |

        | `currency` | string | Yes | e.g. `NGN` |

        | `country` | string | Yes | Country code |

        | `paymentReference` | string | Yes | Unique reference you generate |

        | `email` | string | Yes | Customer email |

        | `fullName` | string | Yes | Customer full name |

        | `paymentType` | string | Yes | `CARD` for this flow |

        | `cardDetails.pan` | string | Yes | Card number |

        | `cardDetails.expiryMonth` / `expiryYear` | string | Yes | Card expiry |

        | `cardDetails.cvv` | string | Yes | Card CVV |

        | `callbackUrl` | string | Yes | Where SeerBit sends the final result |


        **OTP step**: many card transactions come back requiring 3DS/OTP authentication. Per the Card Payment doc page, you complete this by POSTing again to this **same** `/api/v2/payments/initiates` URL with a body shaped like:

        ```json

        {
          "transaction": {
            "linkingreference": "<from initial response>",
            "otp": "<code entered by customer>"
          }
        }

        ```

        Then poll **Check Payment Status** (Payment Query folder) with `paymentReference` to confirm the final state.
      operationId: post_card-payment_9
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              card-payment:
                summary: Card Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_card1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: CARD
                  cardDetails:
                    pan: "5060990580000217499"
                    expiryMonth: "03"
                    expiryYear: "2027"
                    cvv: "111"
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#bank-account-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: Bank Account Payment
      description: >-
        Initiates a direct bank-account debit: the customer authorizes a charge
        straight from their bank account (via account number + bank code) rather
        than a card, USSD code, or transfer-in.


        **Not confirmed against doc.seerbit.com** — two details on the Bank Account Payment doc page could not be pinned down and are flagged rather than guessed:

        1. The exact `paymentType` value for this flow (unlike `CARD`/`USSD`/`TRANSFER`/`MOMO`, the doc page doesn't spell this one out explicitly) — placeholder left in the sample body above; check the dashboard/API response or contact SeerBit support to confirm before using this request.

        2. The doc page references a separate **`/payments/validate`** endpoint for the OTP/authorization step, but doesn't give its full URL, method, or body — this conflicts with the Card Payment page, which documents OTP validation as a second POST to this *same* `/api/v2/payments/initiates` URL with a `{"transaction": {"linkingreference":..., "otp":...}}` body. It's unclear whether Bank Account Payment genuinely uses a different endpoint or the doc page is just describing the same flow loosely.


        **Body fields** (`accountNumber` + `bankCode` identify the account to debit; other fields match Card Payment). Verify the `paymentType` value and validation step directly with SeerBit before relying on this request.
      operationId: post_bank-account-payment_10
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              bank-account-payment:
                summary: Bank Account Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_bank1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: "**Not confirmed** — see description"
                  accountNumber: "0000000000"
                  bankCode: "058"
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#transfer:
    post:
      tags:
        - PAYMENT METHODS
      summary: Transfer
      description: >-
        Initiates a bank-transfer payment: SeerBit returns a dynamic virtual
        account number for this transaction that the customer transfers the
        exact amount into from their own banking app; SeerBit matches the credit
        and confirms the transaction. This is distinct from the **Virtual
        Accounts** folder, which provisions a *persistent* account number for a
        customer across many transactions — this is a one-off, per-transaction
        account.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `paymentType` | string | Yes | `TRANSFER` |

        | (other fields) | | Yes | Same core fields as Card Payment |


        Poll **Check Payment Status** (Payment Query folder) with `paymentReference`, or listen for the `transaction` webhook, to detect when the transfer lands.
      operationId: post_transfer_11
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              transfer:
                summary: Transfer
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_transfer1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: TRANSFER
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#ussd-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: USSD Payment
      description: >-
        Initiates a USSD payment: SeerBit returns a USSD string (e.g.
        `*723*...#`) the customer dials on their phone from the bank account
        linked to `bankCode` to authorize the debit — no card or app needed.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `paymentType` | string | Yes | `USSD` |

        | `bankCode` | string | Yes | Bank's USSD routing code, e.g. `058` for GTBank |

        | (other fields) | | Yes | Same `publicKey`/`amount`/`currency`/`country`/`paymentReference`/`email`/`fullName`/`callbackUrl` as Card Payment |


        The initial response includes the USSD code to display to the customer. Poll **Check Payment Status** (Payment Query folder) with `paymentReference` — there's no separate OTP step; authorization happens on the phone via the USSD session itself.
      operationId: post_ussd-payment_12
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              ussd-payment:
                summary: USSD Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_ussd1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: USSD
                  bankCode: "058"
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#mobile-money-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: Mobile Money Payment
      description: >-
        Initiates a mobile-money payment (e.g. MTN MoMo, AirtelTigo) — SeerBit
        sends a prompt to the customer's phone on the given
        `mobileNumber`/`network`, and the customer approves the debit directly
        on their handset. Used primarily for Ghana (`GHS`) and other African
        mobile-money markets.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `paymentType` | string | Yes | `MOMO` |

        | `mobileNumber` | string | Yes | Customer's mobile-money-linked phone number |

        | `network` | string | Yes | Mobile network operator, e.g. `MTN`, `AIRTELTIGO`, `VODAFONE` |

        | (other fields) | | Yes | Same core fields as Card Payment |


        Poll **Check Payment Status** (Payment Query folder) with `paymentReference` after the customer approves the prompt on their phone.
      operationId: post_mobile-money-payment_13
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              mobile-money-payment:
                summary: Mobile Money Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: GHS
                  country: GH
                  paymentReference: payment_reference_momo1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: MOMO
                  mobileNumber: "233241234567"
                  network: MTN
                  callbackUrl: https://example.com/callback
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v3/payments/query/{paymentReference}":
    get:
      tags:
        - PAYMENT QUERY
      summary: Check Payment Status
      description: >-
        Looks up the current status of a transaction by its `paymentReference`.
        **Corrected to v3** — the doc.seerbit.com page for this actually
        documents `/api/v3/payments/query/{paymentReference}` (matching what
        *Get Card Authorization Code* already used), not v2 as this request
        previously had it. The v3 response includes fuller detail: status,
        amount, gateway message, masked card details, and customer info.


        Use this after Standard Checkout, Create Token, or any flow that returns a `paymentReference`, to confirm the final state rather than relying only on the initial response's `code`.


        **Tokenized Standard Checkout**: if the original Standard Checkout call had `tokenize: true`, this is where the `authorizationCode` for the saved card actually comes back — it is not in Standard Checkout's own response. Save it from here to use with *Charge Authorization Token* / *Bulk Charge Token*.
      operationId: get_check-payment-status_14
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /invoice/create:
    post:
      tags:
        - INVOICING
      summary: Create Invoice
      description: >-
        Creates and sends an itemised invoice to a customer by email, without
        you building a checkout flow. Source:
        doc.seerbit.com/online-payment/payment-features/invoicing, cross-checked
        with the original collection (the doc page's own code samples only show
        empty placeholder URLs, so the exact host/path is carried over from the
        original working collection, not independently re-confirmed).


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key |

        | `orderNo` | string | Yes | Unique order identifier |

        | `dueDate` | string | Yes | Invoice due date |

        | `currency` | string | Yes | Currency code, e.g. `NGN` |

        | `receiversName` | string | Yes | Customer name shown on the invoice |

        | `customerEmail` | string | Yes | Where the invoice is sent |

        | `invoiceItems` | array | Yes | Line items, each with `itemName`, `quantity`, `rate`, `tax` (tax as a percentage) |
      operationId: post_create-invoice_15
      servers:
        - url: https://merchant.seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create-invoice:
                summary: Create Invoice
                value:
                  publicKey: "{{publicKey}}"
                  orderNo: "333333221321"
                  dueDate: 2026-10-23
                  currency: NGN
                  receiversName: Jane Smith
                  customerEmail: janesmith@emaildomain.com
                  invoiceItems:
                    - itemName: Bluetooth Pods
                      quantity: 1
                      rate: 25000
                      tax: 7.5
                    - itemName: Quest 10
                      quantity: 4
                      rate: 100000
                      tax: 7.5
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/bulk-requests":
    post:
      tags:
        - INVOICING
      summary: Bulk Invoice Requests
      description: >-
        Same as *Create Invoice*, but accepts a JSON array to send multiple
        invoices in one call. Same sourcing caveat as Create Invoice — host/path
        carried over from the original collection, not independently
        re-confirmed against a doc.seerbit.com code sample.


        **Body:** array of invoice objects, each shaped like *Create Invoice*'s body (`receiversName` is optional per the saved example — the other fields are required).
      operationId: post_bulk-invoice-requests_16
      servers:
        - url: https://merchant.seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              bulk-invoice-requests:
                summary: Bulk Invoice Requests
                value:
                  - orderNo: AZPOP12929322
                    dueDate: 2026-03-19
                    currency: NGN
                    customerEmail: testtechblazer1@mailinator.com
                    invoiceItems:
                      - itemName: Air Pod 2
                        quantity: 1
                        rate: 5
                        tax: 1.5
                      - itemName: Quest 1
                        quantity: 4
                        rate: 10
                        tax: 2.5
                      - itemName: Earpod
                        quantity: 1
                        rate: 100
                        tax: 0.5
                  - orderNo: AZPOP12929323
                    dueDate: 2026-03-28
                    currency: NGN
                    receiversName: Frank John
                    customerEmail: testtechblazer2@mailinator.com
                    invoiceItems:
                      - itemName: Power Bulb
                        quantity: 10
                        rate: 5
                        tax: 0.5
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/send/{InvoiceNo}":
    get:
      tags:
        - INVOICING
      summary: Re-send an Invoice
      description: >-
        Re-sends an existing invoice (identified by `InvoiceNo`) to its customer
        by email — use this when the original invoice email didn't arrive or
        needs to go out again, rather than creating a duplicate invoice with
        Create Invoice.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `InvoiceNo` | The invoice's number, e.g. `SBT-INV-000054`, from Create Invoice's response |


        Returns a `code`/`payload` confirmation; it doesn't return the invoice body again.
      operationId: get_re-send-an-invoice_17
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: InvoiceNo
          in: path
          required: true
          description: Value of InvoiceNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/customer/{customerEmail}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Customer Email
      description: >-
        Looks up invoice(s) associated with a given customer email address —
        useful when you know who the invoice was billed to but not its invoice
        or order number.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `customerEmail` | The customer's email address the invoice was billed to |


        Add a `customerEmail` collection variable with the address you're looking up, or replace the path segment directly.
      operationId: get_get-invoice-by-customer-email_18
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: customerEmail
          in: path
          required: true
          description: Value of customerEmail
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/{InvoiceNo}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Invoice Number
      description: >-
        Fetches a single invoice's full detail — including its line items
        (`invoiceItems`) — by `InvoiceNo`.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `InvoiceNo` | The invoice's number, e.g. `SBT-INV-000054` |


        Response includes `status` (e.g. `DRAFT`), `totalAmount`, `dueDate`, `currency`, and the itemized `invoiceItems` array — unlike **Get Invoice by orderNo**, which returns a summary without line items.
      operationId: get_get-invoice-by-invoice-number_19
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: InvoiceNo
          in: path
          required: true
          description: Value of InvoiceNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/order/{orderNo}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Order Number
      description: >-
        Looks up an invoice by the `orderNo` you supplied when creating it via
        Create Invoice — useful when your own system tracks orders and you don't
        have SeerBit's `InvoiceNo` on hand.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `orderNo` | The order number you passed to Create Invoice |


        Returns a summary (no itemized `invoiceItems` array) — use **Get Invoice by Invoice Number** with the `invoiceNo` from this response if you need line-item detail.
      operationId: get_get-invoice-by-order-number_20
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: orderNo
          in: path
          required: true
          description: Value of orderNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/create-token:
    post:
      tags:
        - TOKENIZATION
      summary: Create Token
      description: >-
        Charges a card for the first time **and** saves it, returning card
        details you can later exchange for an `authorizationCode` (via *Get Card
        Authorization Code*) to charge the same card again without re-collecting
        details. Requires the customer to complete 3DS/OTP authentication on
        `redirectUrl`.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key |

        | `amount` | string | Yes | Charge amount — minimum is currency-dependent (e.g. NGN 50, GHS 1, KES 1, USD 0.50) |

        | `fullName` | string | Yes | Cardholder's name |

        | `mobileNumber` | string | Yes | Customer phone number |

        | `email` | string | Yes | Customer email |

        | `currency` | string | Yes | Transaction currency |

        | `country` | string | Yes | Country of the transaction |

        | `paymentType` | string | Yes | Must be `"CARD"` |

        | `cardNumber` | string | Yes | Full card number |

        | `expiryMonth` | string | Yes | Two-digit expiry month (`01`–`12`) |

        | `expiryYear` | string | Yes | Card expiry year |

        | `cvv` | string | Yes | Card security code |

        | `pin` | string | Yes | Card PIN (required by some card schemes/issuers) |

        | `redirectUrl` | string | Yes | Where the customer lands after completing 3DS/OTP authentication |

        | `paymentReference` | string | Yes | Unique reference you generate per transaction |
      operationId: post_create-token_21
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create-token:
                summary: Create Token
                value:
                  publicKey: "{{publicKey}}"
                  amount: "50"
                  fullName: Jane Smith
                  mobileNumber: "03447522256"
                  redirectUrl: http://example.com
                  currency: NGN
                  country: NG
                  paymentReference: 204g4de74a7ib0j18dg6bi521aiaejf4
                  email: janesmith@seerbit.com
                  paymentType: CARD
                  cardNumber: "512348984984988883"
                  expiryMonth: "01"
                  expiryYear: "25"
                  cvv: "000"
                  pin: "2222"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v3/payments/query/{paymentReference}#get-card-authorization-code":
    get:
      tags:
        - TOKENIZATION
      summary: Get Card Authorization Code
      description: >-
        Returns authorizationCode, customerId and maskedPan for a tokenized
        transaction. Note this is v3, unlike the v2 Payment Query endpoint.


        **Response fields to read**


        | Field | Description |

        |---|---|

        | `authorizationCode` | Token to pass into *Charge Authorization Token* / *Bulk Charge Token* for future charges |

        | `customerId` | SeerBit's identifier for this customer, reusable across subscriptions |

        | `maskedPan` | Redacted card number for display, e.g. `5123-40xx-xxxx-0008` |
      operationId: get_get-card-authorization-code_22
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/charge-token:
    post:
      tags:
        - TOKENIZATION
      summary: Charge Authorization Token
      description: >-
        Charges a previously tokenized card using its `authorizationCode`,
        without asking the customer for card details again. Use this for one-off
        repeat charges; for scheduled recurring billing, use *Charge
        Subscription* instead.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `publicKey` | string | Yes | Merchant public key |

        | `amount` | string | Yes | Amount to charge |

        | `paymentReference` | string | Yes | New, unique reference for this charge |

        | `authorizationCode` | string | Yes | From *Get Card Authorization Code* |
      operationId: post_charge-authorization-token_23
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              charge-authorization-token:
                summary: Charge Authorization Token
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  paymentReference: charge_token_ref_001
                  authorizationCode: "{{authorizationCode}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/bulk-tokenize-charge:
    post:
      tags:
        - TOKENIZATION
      summary: Bulk Charge Token
      description: >-
        Same as *Charge Authorization Token*, but accepts a JSON array so you
        can charge many tokenized cards in one call. Each array entry needs its
        own unique `paymentReference`. Returns a `batchId` — poll *Query Bulk
        Charge* with it to see per-entry results, since a bulk call can
        partially succeed.


        **Body:** array of objects, each with the same fields as *Charge Authorization Token* (`publicKey`, `amount`, `paymentReference`, `authorizationCode`).
      operationId: post_bulk-charge-token_24
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              bulk-charge-token:
                summary: Bulk Charge Token
                value:
                  - publicKey: "{{publicKey}}"
                    amount: "5000.00"
                    paymentReference: bulk_ref_001
                    authorizationCode: "{{authorizationCode}}"
                  - publicKey: "{{publicKey}}"
                    amount: "2500.00"
                    paymentReference: bulk_ref_002
                    authorizationCode: "{{authorizationCode}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/bulk-tokenize-charge-search:
    get:
      tags:
        - TOKENIZATION
      summary: Query Bulk Charge
      description: Looks up the outcome of a *Bulk Charge Token* batch by `batchId`.
        Returns paginated per-entry results (authorization codes, status codes,
        card details, amounts) — check each entry's own status rather than
        assuming the whole batch succeeded or failed together.
      operationId: get_query-bulk-charge_25
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: batchId
          in: query
          required: false
          description: Query parameter batchId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/recurrent/plan/create:
    post:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Create Plan
      description: >-
        Defines a recurring billing plan (amount + cadence + how many cycles to
        run). Once created, subscribe a tokenized card to it and SeerBit charges
        automatically on schedule. Host is `merchants.seerbitapi.com` (plural) —
        a documented inconsistency vs. the `merchant.seerbitapi.com` (singular)
        invoicing host, easy to mistype.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `productId` | string | Yes | Plan name/identifier |

        | `productDescription` | string | Yes | Description of the plan |

        | `amount` | string | Yes | Amount charged per cycle |

        | `billingCycle` | string | Yes | `HOURLY`, `DAILY`, `WEEKLY`, `MONTHLY`, or `ANNUALLY` |

        | `limit` | integer | Yes | Maximum number of billing cycles before the plan stops |

        | `publicKey` | string | Yes | Merchant public key |

        | `country` | string | Yes | Country code, e.g. `NG` |

        | `currency` | string | Yes | Currency code, e.g. `NGN` |

        | `allowPartialDebit` | boolean | Yes | Whether to charge whatever's available if the customer has insufficient funds for the full amount |


        Response includes `planId`, `payUrl`, and `status: "ACTIVE"` — save `planId` for future reference.
      operationId: post_create-plan_26
      servers:
        - url: https://merchants.seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create-plan:
                summary: Create Plan
                value:
                  productId: product222
                  productDescription: <Description of Plan>
                  amount: "100"
                  billingCycle: HOURLY
                  limit: 5
                  publicKey: "{{publicKey}}"
                  country: NG
                  currency: NGN
                  allowPartialDebit: false
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/recurring/publicKey/{publicKey}":
    get:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Get Merchant Subscriptions
      description: Lists every subscription under this `publicKey`, with `amount`,
        `customerId`, `cardName`, `cardNumber` (masked), `plan`, `status`,
        `billingId`, `authorizationCode`, `startDate`, and `createdAt` per
        entry.
      operationId: get_get-merchant-subscriptions_27
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/recurring/charge:
    post:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Charge Subscription
      description: >-
        Manually triggers a charge against an existing subscription's tokenized
        card, outside the automatic billing schedule (e.g. to bill immediately
        rather than wait for the next cycle).


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `amount` | string | Yes | Amount to charge |

        | `publicKey` | string | Yes | Merchant public key |

        | `email` | string | Yes | Customer email |

        | `authorizationCode` | string | Yes | From the customer's completed subscription |

        | `paymentReference` | string | Yes | New, unique reference for this charge |

        | `currency` | string | Yes | Currency code |

        | `allowPartialDebit` | string | No | Whether to allow a partial charge on insufficient funds |
      operationId: post_charge-subscription_28
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              charge-subscription:
                summary: Charge Subscription
                value:
                  amount: "100"
                  publicKey: "{{publicKey}}"
                  email: customer@example.com
                  authorizationCode: "{{authorizationCode}}"
                  paymentReference: sub_charge_ref_001
                  currency: NGN
                  allowPartialDebit: false
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/recurring/{publicKey}/customerId/{customerId}":
    get:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Get Customer Subscription
      description: Lists the subscriptions belonging to one customer (`customerId`)
        under this `publicKey` — a customer can have more than one active plan.
      operationId: get_get-customer-subscription_29
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          description: Value of customerId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/recurring/updates:
    put:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Update Customer Subscription
      description: >-
        Changes an existing subscription's status or terms, identified by
        `billingId`.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `billingId` | string | Yes | Identifies the subscription being updated |

        | `publicKey` | string | Yes | Merchant public key |

        | `currency` | string | Yes | Currency code |

        | `country` | string | Yes | Country code |

        | `amount` | string | No | New charge amount |

        | `status` | string | No | `ACTIVE` or `INACTIVE` — set to `INACTIVE` to cancel future billing |

        | `mobileNumber` | string | No | Update the customer's phone number on file |
      operationId: put_update-customer-subscription_30
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              update-customer-subscription:
                summary: Update Customer Subscription
                value:
                  billingId: "{{billingId}}"
                  publicKey: "{{publicKey}}"
                  status: ACTIVE
                  amount: "100"
                  currency: NGN
                  country: NG
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /paymentlink/v2/payLinks/api:
    post:
      tags:
        - PAYMENT LINKS
      summary: Create Payment Link
      description: >-
        Creates a hosted, shareable payment URL — send it directly to a customer
        instead of building a checkout flow. Supports one-time links and
        recurring links.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `status` | string | Yes | `ACTIVE` or `INACTIVE` |

        | `paymentLinkName` | string | Yes | Internal name for the link |

        | `description` | string | Yes | Shown to the customer on the payment page |

        | `currency` | string | Yes | Currency code, e.g. `NGN` |

        | `publicKey` | string | Yes | Merchant public key |

        | `paymentFrequency` | string | Yes | `ONE_TIME` or `RECURRENT` |

        | `requiredFields` | object | Yes | Which customer fields the payer must fill in: `address`, `amount`, `customerName`, `mobileNumber`, `invoiceNumber` (each boolean) |

        | `email` | string | No | Notification email |

        | `successMessage` | string | No | Shown after a successful payment |

        | `customizationName` | string | No | Branding/customization preset |

        | `additionalData` | string | No | Free-text metadata attached to the link |

        | `linkExpirable` | boolean | No | Whether the link expires |

        | `expiryDate` | string | No | Expiry date, required if `linkExpirable` is true |

        | `oneTime` | boolean | No | Whether the link is invalidated after first use |


        Response returns `paymentLinkUrl` and `paymentLinkId` — save the latter, it's needed to update or delete the link later.
      operationId: post_create-payment-link_31
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create-payment-link:
                summary: Create Payment Link
                value:
                  status: ACTIVE
                  paymentLinkName: testing out
                  description: Give out donations
                  currency: NGN
                  successMessage: Thank you for your payment
                  publicKey: "{{publicKey}}"
                  customizationName: dot dty it
                  paymentFrequency: ONE_TIME
                  paymentReference: ""
                  email: js@emaildomain.com
                  requiredFields:
                    address: true
                    amount: true
                    customerName: true
                    mobileNumber: true
                    invoiceNumber: false
                  additionalData: "Customer Email: js@mailinator.com"
                  linkExpirable: false
                  expiryDate: ""
                  oneTime: false
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
    put:
      tags:
        - PAYMENT LINKS
      summary: Update Payment Link
      description: >-
        Updates an existing payment link's configuration. Source:
        doc.seerbit.com/online-payment/payment-features/payment-links.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `paymentLinkId` | string | Yes | From *Create Payment Link*'s response, or *Get Merchant Payment Links* |

        | `status`, `description`, `successMessage`, `customizationName`, `paymentFrequency`, `requiredFields`, `linkExpirable`, `expiryDate`, `oneTime` | — | No | Any subset of these can be updated; omit fields you don't want to change |
      operationId: put_update-payment-link_33
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              update-payment-link:
                summary: Update Payment Link
                value:
                  paymentLinkId: "77287988"
                  status: INACTIVE
                  description: Test paymentLink
                  successMessage: Payment made successfully!
                  businessName: My Business
                  publicKey: "{{publicKey}}"
                  customizationName: my_link_4
                  paymentFrequency: RECURRENT
                  email: customer@seerbit.com
                  requiredFields:
                    address: true
                    amount: true
                    customerName: true
                    mobileNumber: true
                    invoiceNumber: false
                  linkExpirable: false
                  expiryDate: ""
                  oneTime: false
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/paymentlink/v2/payLinks/api/{publicKey}":
    get:
      tags:
        - PAYMENT LINKS
      summary: Get Merchant Payment Links
      description: Lists every payment link created under this `publicKey`, with their
        current status, configuration, and timestamps. Use this to find a
        `paymentLinkId` if you didn't save it when creating the link.
      operationId: get_get-merchant-payment-links_32
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/paymentlink/v2/payLinks/api/deleteLink/{paymentLinkId}":
    delete:
      tags:
        - PAYMENT LINKS
      summary: Delete Payment Link
      description: "Permanently deactivates a payment link. Source:
        doc.seerbit.com/online-payment/payment-features/payment-links, which
        documents this as DELETE (the original collection request used GET —
        fixed)."
      operationId: delete_delete-payment-link_34
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentLinkId
          in: path
          required: true
          description: Value of paymentLinkId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/authenticate:
    post:
      tags:
        - POCKET
      summary: Authenticate
      description: >-
        Logs in to a Pocket (SeerBit's wallet product) and returns a Bearer
        token scoped to Pocket and Payout endpoints — **not** the same token as
        `{{BearerToken}}` (the OAuth token from *Get Access Token* in the
        Authentication folder, used everywhere else in this collection). Pocket
        is a **separate feature from Payout**: the doc site describes Pocket as
        sending funds between pockets, sub-pockets, or out to banks (that last
        case *is* a payout), while the Payout folder above covers the signed,
        OTP-gated bank-payout flow specifically — both folders share this same
        login and the same token.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `email` | string | Yes | Pocket account email |

        | `password` | string | Yes | Your **Pocket password** — not your SeerBit merchant dashboard password. This is the password for your Pocket account at flow.seerbitapi.com. |


        Response includes `bearerToken`, `expiryTime`, and `requirePasswordChange` — check the last one and call *Change Password* if true. Save `bearerToken` as `{{pocketAuthToken}}` — the variable used on Pocket and Payout requests that require this login, kept distinct from `{{BearerToken}}` on purpose.
      operationId: post_authenticate_35
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              authenticate:
                summary: Authenticate
                value:
                  email: "{{pocketEmail}}"
                  password: "{{pocketPassword}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/user/change-password:
    post:
      tags:
        - POCKET
      summary: Change Password
      description: >-
        Changes the Pocket account's password — required on first login if
        *Authenticate*'s response flagged `requirePasswordChange: true`.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `currentPassword` | string | Yes | Current Pocket password |

        | `newPassword` | string | Yes | New Pocket password |
      operationId: post_change-password_36
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              change-password:
                summary: Change Password
                value:
                  currentPassword: "{{pocketPassword}}"
                  newPassword: "{{newPocketPassword}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/pocket-id/{pocketID}/sub-pocket":
    post:
      tags:
        - POCKET
      summary: Add Sub-Pocket
      description: >-
        Creates a sub-pocket under a parent pocket — e.g. one wallet per vendor,
        department, or customer, all rolling up to the parent. Body is an array,
        so you can create several sub-pockets in one call.


        **Body fields (per array entry)**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `reference` | string | Yes | Your unique reference for this sub-pocket |

        | `pocketFunction` | string | Yes | e.g. `BOTH` (can send and receive) |

        | `currency` | string | Yes | Currency the sub-pocket holds |

        | `selfOwned` | boolean | Yes | Whether the sub-pocket belongs to you or an external owner |

        | `pocketOwner` | object | Yes | `existingPocketOwner` plus `pocketOwnerDetails` (`firstName`, `lastName`, `emailAddress`, `phoneNumber`, `businessName`) |

        | `tagGroup` | string | No | Grouping label |

        | `tagName` | string | No | Display label |


        Response returns the new `pocketId`, its dedicated `bankAccountNumber`/`bankAccountName`/`bankName`, and login details for the sub-pocket's own user.
      operationId: post_add-sub-pocket_37
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              add-sub-pocket:
                summary: Add Sub-Pocket
                value:
                  - reference: subpocket_ref_001
                    pocketFunction: BOTH
                    currency: NGN
                    selfOwned: true
                    pocketOwner:
                      existingPocketOwner: "false"
                      pocketOwnerDetails:
                        firstName: Jane
                        lastName: Doe
                        emailAddress: jane@example.com
                        phoneNumber: "08012345678"
                        businessName: Acme Ltd
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/transfer/from-pocket/{pocketID}/to-pocket/{destinationPocketID}":
    post:
      tags:
        - POCKET
      summary: Pocket to Pocket Transfer
      description: >-
        Moves funds between two pockets (parent-to-sub-pocket, sub-to-sub, etc.)
        — an internal transfer, not a bank payout.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `amount` | string | Yes | Amount to move |

        | `currency` | string | Yes | Currency, must match both pockets |

        | `reference` | string | Yes | Unique reference for this transfer |

        | `description` | string | Yes | Free-text note |
      operationId: post_pocket-to-pocket-transfer_38
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
        - name: destinationPocketID
          in: path
          required: true
          description: Value of destinationPocketID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              pocket-to-pocket-transfer:
                summary: Pocket to Pocket Transfer
                value:
                  amount: "5000.00"
                  currency: NGN
                  reference: transfer_ref_001
                  description: Internal transfer
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Pocket Details
      description: "Fetches a pocket's full profile: status, balances, its own
        dedicated bank account (`accountNumber`, `fundingLink`), owner details,
        and any linked `pocketAccounts`."
      operationId: get_get-pocket-details_39
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/balance/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Pocket Balance
      description: Fast balance-only lookup for one pocket —
        `availableBalanceAmount`/`Currency` and `lastTransactionAt`. Use *Get
        Pocket Details* instead when you also need the account number or owner
        info.
      operationId: get_get-pocket-balance_40
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/balances-summation/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Merchant Balance Summation
      description: "Rolls up balances across pockets:
        `merchantSubPocketsBalanceSummation` (just the sub-pockets under this
        one) and `merchantAllPocketsBalanceSummation` (every pocket under the
        merchant)."
      operationId: get_get-merchant-balance-summation_41
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/transaction/reference/{reference}":
    get:
      tags:
        - POCKET
      summary: Get Transaction by Reference
      description: Looks up one Pocket transaction (funding, transfer, fee, etc.) by
        its `reference`. Returns `transactionLeg` (`DEBIT`/`CREDIT`),
        `transactionType`, `status`, and counterparty details.
      operationId: get_get-transaction-by-reference_42
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: reference
          in: path
          required: true
          description: Value of reference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/transaction/search:
    get:
      tags:
        - POCKET
      summary: Search Transactions
      description: >-
        Lists a pocket's transaction history, paginated.


        **Query parameters**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `pocketId` | string | Yes | The pocket to list transactions for |

        | `page` | integer | Yes | Zero-based page number |

        | `size` | integer | Yes | Records per page |


        Response wraps results in `content` plus `pageable`, `totalElements`, `totalPages` for pagination.
      operationId: get_search-transactions_43
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketId
          in: query
          required: false
          description: Query parameter pocketId
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Query parameter page
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: Query parameter size
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/payout/account-enquiry:
    post:
      tags:
        - PAYOUT
      summary: Account Enquiry
      description: >-
        Reconfirms the account holder's name for a bank account before sending a
        payout — use it to catch a wrong account number before money moves.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `accountnumber` | string | Yes | Recipient bank account number |

        | `bankcode` | string | Yes | Recipient bank's code, from *Bank List* |


        **Note:** the payout flow (*Authenticate for Payout* → *Initiate Single/Bulk Payout* → *Confirm Payout with OTP*) doesn't call this endpoint — it goes straight from authentication to initiating the payout, with no separate account-name-confirmation step built in. Whether it's still expected to run first, is optional, or belongs to a different flow isn't stated; use it as a manual pre-check if you want extra assurance before sending funds.
      operationId: post_account-enquiry_44
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              account-enquiry:
                summary: Account Enquiry
                value:
                  accountnumber: "0123456789"
                  bankcode: "058"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/banks/category/NIP:
    get:
      tags:
        - PAYOUT
      summary: Bank List
      description: Returns the banks supported for payouts in a given category — `NIP`
        in the saved URL is Nigeria's instant transfer network; swap the path
        segment if a different category is documented for your corridor.
        Requires Bearer auth plus a Public-Key header.
      operationId: get_bank-list_45
      servers:
        - url: https://seerbitapi.com
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/authenticate#authenticate-for-payout:
    post:
      tags:
        - PAYOUT
      summary: Authenticate for Payout
      description: >-
        Logs in with your merchant account email and Pocket password to obtain
        the bearer token required by every other request in this payout flow.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `email` | string | Yes | Your merchant account's login email |

        | `password` | string | Yes | Your **Pocket password** — not your SeerBit merchant dashboard password. This is the password for your Pocket account at flow.seerbitapi.com. |


        **Response: 200 OK**

        ```json

        {
            "data": {
                "bearerToken": "..."
            }
        }

        ```

        Save `data.bearerToken` as `{{pocketAuthToken}}` — used as the `Authorization: Bearer` value on *Initiate Single Payout*, *Initiate Bulk Payout*, and *Confirm Payout with OTP*. This is the same login and token as *Authenticate* in the Pocket folder — kept as one shared variable, `{{pocketAuthToken}}`, and kept distinct from `{{BearerToken}}` (the OAuth token used everywhere else in this collection).


        **Note:** this is the only endpoint in this collection that authenticates with an email/password pair rather than an API key or OAuth token.
      operationId: post_authenticate-for-payout_46
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              authenticate-for-payout:
                summary: Authenticate for Payout
                value:
                  email: your-merchant-login-email@example.com
                  password: your-merchant-password
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/v2/payouts:
    post:
      tags:
        - PAYOUT
      summary: Initiate Single Payout
      description: >-
        Phase 1 of 2 — initiates a single payout. Validates the request
        signature, encrypts the payload, and emails an OTP to the merchant; the
        payout only moves money once that OTP is submitted to *Confirm Payout
        with OTP*.


        **Required headers**


        | Header | Description |

        |---|---|

        | `Public-Key` | Your merchant public key (`{{publicKey}}`) |

        | `X-Seerbit-Signature` | HMAC-SHA256 of the exact raw JSON request body, computed with your merchant secret key (`{{SECRET_KEY}}`), hex-encoded. |

        | `Authorization` | `Bearer {{pocketAuthToken}}` — from *Authenticate for Payout* (same token as Pocket's *Authenticate*), not the OAuth `{{BearerToken}}`. |


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `pocketId` | string | Yes | The Pocket to pay out from |

        | `reference` | string | Yes | Your unique reference for this payout. Re-submitting the same `reference` is idempotent — it returns the existing `payoutId` and a message that the OTP was already sent, rather than sending a new OTP. |

        | `currency` | string | Yes | Currency code |

        | `amount` | number | Yes | Amount to send |

        | `description` | string | No | Free-text note for the payout |

        | `accountNumber` | string | Yes | Recipient bank account number |

        | `bankCode` | string | Yes | Recipient bank's code — see *Bank List* |


        **Response: 202 Accepted**

        ```json

        {
            "payoutId": "PV2-ABCDEF123456",
            "status": "PENDING_OTP",
            "message": "OTP sent to registered email. Please confirm to proceed."
        }

        ```

        Save `payoutId` as the `{{payoutId}}` collection variable — it's the path parameter for *Confirm Payout with OTP*.


        **Error responses:**

        - 401 Unauthorized — missing or invalid `X-Seerbit-Signature`

        - 400 Bad Request — missing `Public-Key` header

        - 400 Bad Request — missing/invalid required fields (e.g. "currency is required", "amount must be positive")


        **Note:** this flow doesn't include a separate account-name-confirmation step before initiating — call *Account Enquiry* first if you want to verify the recipient's account name.
      operationId: post_initiate-single-payout_47
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              initiate-single-payout:
                summary: Initiate Single Payout
                value:
                  pocketId: SBP0016878
                  reference: PAY-SINGLE-Ideal-001
                  currency: NGN
                  amount: 10
                  description: Single Payout API test
                  accountNumber: "0522376248"
                  bankCode: "000013"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/v2/payouts/{payoutId}/confirm":
    post:
      tags:
        - PAYOUT
      summary: Confirm Payout with OTP
      description: >-
        Phase 2 of 2 — submits the OTP emailed to the merchant during *Initiate
        Single Payout* / *Initiate Bulk Payout*. On success, SeerBit decrypts
        the payload and dispatches it for processing; this is what actually
        moves money.


        **Path parameter**


        | Parameter | Description |

        |---|---|

        | `payoutId` (in URL path) | From the Initiate call's response, saved to `{{payoutId}}` |


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `otp` | string | Yes | 6-digit code emailed to the merchant. Expires 5 minutes after being issued. It's presumably sent to the email used to log in via *Authenticate for Payout*, though this isn't stated explicitly. |


        **Response: 200 OK**

        ```json

        {
            "payoutId": "PV2-ABCDEF123456",
            "status": "QUEUED",
            "message": "Payout confirmed and queued for processing",
            "batchId": "BATCH-XYZ"
        }

        ```


        **Error responses (400):**

        - Payout not found

        - Unauthorized access

        - Not in `PENDING_OTP` state

        - OTP has expired

        - Invalid OTP

        - Insufficient funds
      operationId: post_confirm-payout-with-otp_48
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: payoutId
          in: path
          required: true
          description: Value of payoutId
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              confirm-payout-with-otp:
                summary: Confirm Payout with OTP
                value:
                  otp: "123456"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/v2/payouts#initiate-bulk-payout:
    post:
      tags:
        - PAYOUT
      summary: Initiate Bulk Payout
      description: >-
        Phase 1 of 2 — initiates a payout to multiple recipients in one call,
        sharing a single OTP confirmation. Same endpoint as *Initiate Single
        Payout*; a non-empty `transfers` array is what puts the request in bulk
        mode.


        **Required headers:** same as *Initiate Single Payout* — `Public-Key`, `X-Seerbit-Signature` (HMAC-SHA256 of the raw body using `{{SECRET_KEY}}`), `Authorization: Bearer {{pocketAuthToken}}` from *Authenticate for Payout*.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `pocketId` | string | Yes | The Pocket to pay out from |

        | `batchReference` | string | Yes | Your unique reference for the whole batch. Re-submitting the same `batchReference` is idempotent — returns the existing `payoutId` rather than creating a new batch. |

        | `transfers` | array | Yes | One entry per recipient — see fields below. Must be non-empty to trigger bulk mode. |

        | `transfers[].reference` | string | Yes | Your unique reference for this individual transfer within the batch |

        | `transfers[].currency` | string | Yes | Currency code |

        | `transfers[].amount` | number | Yes | Amount to send to this recipient |

        | `transfers[].description` | string | No | Free-text note for this transfer |

        | `transfers[].accountNumber` | string | Yes | Recipient bank account number |

        | `transfers[].bankCode` | string | Yes | Recipient bank's code — see *Bank List* |


        **Response: 202 Accepted** — same shape as *Initiate Single Payout*: one `payoutId` for the whole batch, `status: "PENDING_OTP"`.


        **Note:** there's no documented endpoint for checking an individual transfer's outcome within a batch — only the batch-level `batchId` returned by *Confirm Payout with OTP*.
      operationId: post_initiate-bulk-payout_49
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              initiate-bulk-payout:
                summary: Initiate Bulk Payout
                value:
                  pocketId: SBP0003440
                  batchReference: BATCH-PAY-001
                  transfers:
                    - reference: BULK-REF-001
                      currency: NGN
                      amount: 500
                      description: Payment to vendor A
                      accountNumber: "0522376248"
                      bankCode: "000013"
                    - reference: BULK-REF-002
                      currency: NGN
                      amount: 500
                      description: Payment to vendor B
                      accountNumber: "0522376248"
                      bankCode: "000013"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /auth/login:
    post:
      tags:
        - PARTNERS API
      summary: Partner Login
      description: >-
        Authenticates a SeerBit partner and returns a Bearer token for the
        Partners API endpoints below (a separate token from the merchant
        `BearerToken` used elsewhere in this collection). No auth required to
        call it.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `email` | string | Yes | Partner's registered email |

        | `password` | string | Yes | Partner account password |
      operationId: post_partner-login_50
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              partner-login:
                summary: Partner Login
                value:
                  email: partner@example.com
                  password: "{{partnerPassword}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /auth/password:
    post:
      tags:
        - PARTNERS API
      summary: Request Password Reset
      description: >-
        Triggers a password-reset email containing an OTP, which you then pass
        to *Reset Password*. No auth required.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `email` | string | Yes | Registered partner email |
      operationId: post_request-password-reset_51
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              request-password-reset:
                summary: Request Password Reset
                value:
                  email: partner@example.com
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /auth/reset:
    post:
      tags:
        - PARTNERS API
      summary: Reset Password
      description: >-
        Completes a password reset using the OTP emailed by *Request Password
        Reset*.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `email` | string | Yes | Registered partner email |

        | `newPassword` | string | Yes | Minimum 8 characters, must include an uppercase letter and a special character |

        | `otp` | string | Yes | Code sent by *Request Password Reset* |
      operationId: post_reset-password_52
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              reset-password:
                summary: Reset Password
                value:
                  email: partner@example.com
                  newPassword: "{{newPartnerPassword}}"
                  otp: "123456"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/business/invite:
    post:
      tags:
        - PARTNERS API
      summary: Invite Business
      description: >-
        Invites a new sub-merchant business under this partner account. Auth is
        via a Public-Key header rather than Bearer alone.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `name` | string | Yes | Contact person's name at the business |

        | `businessName` | string | Yes | Business's registered name |

        | `email` | string | Yes | Business contact email — the invite is sent here |

        | `countryCode` | string | Yes | Defaults to `NG`; change only if the business operates outside Nigeria |

        | `partnerId` | string | Yes | Your partner ID — don't modify this |
      operationId: post_invite-business_53
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              invite-business:
                summary: Invite Business
                value:
                  name: Jane Doe
                  businessName: Acme Ltd
                  email: jane@acme.com
                  countryCode: NG
                  partnerId: "{{partnerId}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/business/SBT0050/invite:
    get:
      tags:
        - PARTNERS API
      summary: Get Business Invite
      description: Lists businesses invited under a given business/partner ID.
        `SBT0050` in the saved URL is the example ID shown in the doc — replace
        it with a real one. Returns each invited business's ID, name, and email.
      operationId: get_get-business-invite_54
      servers:
        - url: https://seerbitapi.com
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/business/commission:
    post:
      tags:
        - PARTNERS API
      summary: Set Business Commission
      description: >-
        Sets the commission SeerBit deducts on transactions for one sub-merchant
        business. Auth is via a Public-Key header rather than Bearer alone.


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `businessId` | string | Yes | The sub-merchant business to set commission for |

        | `mccPercentage` | number | Yes | Commission percentage charged per transaction |

        | `cappedAmount` | string | Yes | Maximum commission amount per transaction, regardless of percentage |
      operationId: post_set-business-commission_55
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              set-business-commission:
                summary: Set Business Commission
                value:
                  cappedAmount: "10000"
                  mccPercentage: "1.5"
                  businessId: "{{businessId}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/business/password:
    post:
      tags:
        - PARTNERS API
      summary: Change Partner Password
      description: >-
        Changes the logged-in partner's password. Requires Bearer auth (the
        partner token from *Partner Login*).


        **Body fields**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `currentPassword` | string | Yes | Partner's current password |

        | `newPassword` | string | Yes | Must meet the same complexity rules as *Reset Password* |
      operationId: post_change-partner-password_56
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              change-partner-password:
                summary: Change Partner Password
                value:
                  currentPassword: "{{partnerPassword}}"
                  newPassword: "{{newPartnerPassword}}"
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /webhooks:
    post:
      tags:
        - WEBHOOKS (REFERENCE)
      summary: refund
      description: >-
        **Reference only — not a request you send.** This documents the `refund`
        payload SeerBit POSTs to *your* configured webhook URL after the
        matching event happens; there is nothing at SeerBit to call here. The
        body below is the shape of what you'll receive.


        Sent when a refund is processed against one of your transactions (full or partial, per `type`).


        Your endpoint must respond with HTTP 200 within the acknowledgment window (see this folder's description for V1 vs V2 timing/format) or SeerBit will retry.
      operationId: post_refund_57
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              refund:
                summary: refund
                value:
                  eventType: refund
                  eventDate: 2026-05-01 12:55:57
                  eventId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  data:
                    amount: "5000.00"
                    createdAt: 2026-05-01T12:55:00Z
                    transactionRef: payment_reference8
                    description: Customer requested refund
                    type: FULL_REFUND
                    mode: LIVE
                    updatedAt: 2026-05-01T12:55:57Z
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /webhooks#dispute:
    post:
      tags:
        - WEBHOOKS (REFERENCE)
      summary: dispute
      description: >-
        **Reference only — not a request you send.** This documents the
        `dispute` payload SeerBit POSTs to *your* configured webhook URL after
        the matching event happens; there is nothing at SeerBit to call here.
        The body below is the shape of what you'll receive.


        Sent when a chargeback/dispute is raised against one of your transactions; `evidence` carries whatever supporting material is attached.


        Your endpoint must respond with HTTP 200 within the acknowledgment window (see this folder's description for V1 vs V2 timing/format) or SeerBit will retry.
      operationId: post_dispute_58
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              dispute:
                summary: dispute
                value:
                  eventType: dispute
                  eventDate: 2026-05-01 12:56:07
                  eventId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  data:
                    evidence:
                      - images:
                          - image: https://example.com/evidence1.png
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /webhooks#transaction:
    post:
      tags:
        - WEBHOOKS (REFERENCE)
      summary: transaction
      description: >-
        **Reference only — not a request you send.** This documents the
        `transaction` payload SeerBit POSTs to *your* configured webhook URL
        after the matching event happens; there is nothing at SeerBit to call
        here. The body below is the shape of what you'll receive.


        Sent for a card payment (e.g. from Standard Checkout or Tokenization) reaching a final state — this is the async counterpart to polling *Check Payment Status*.


        Your endpoint must respond with HTTP 200 within the acknowledgment window (see this folder's description for V1 vs V2 timing/format) or SeerBit will retry.
      operationId: post_transaction_59
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              transaction:
                summary: transaction
                value:
                  eventType: transaction
                  eventDate: 2026-07-01 08:56:16
                  eventId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  data:
                    amount: 5000
                    reference: payment_reference8
                    gatewayMessage: Successful
                    publicKey: "{{publicKey}}"
                    businessName: Your Business
                    fee: 50
                    channelType: MASTERCARD
                    maskedPan: 5123-40xx-xxxx-0008
                    fullname: Jane Doe
                    email: customer@example.com
                    gatewayReference: GW-REF-001
                    country: NG
                    currency: NGN
                    paymentType: CARD
                    gatewayCode: "00"
                    code: "00"
                    createdAt: 2026-07-01T08:56:00Z
                    updatedAt: 2026-07-01T08:56:16Z
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /webhooks#transactionwallet:
    post:
      tags:
        - WEBHOOKS (REFERENCE)
      summary: transaction.wallet
      description: >-
        **Reference only — not a request you send.** This documents the
        `transaction.wallet` payload SeerBit POSTs to *your* configured webhook
        URL after the matching event happens; there is nothing at SeerBit to
        call here. The body below is the shape of what you'll receive.


        Sent when a bank transfer lands on a Virtual Account or Pocket — this is what tells you a *Get Payments* or Pocket balance actually changed, without you having to poll.


        Your endpoint must respond with HTTP 200 within the acknowledgment window (see this folder's description for V1 vs V2 timing/format) or SeerBit will retry.
      operationId: post_transactionwallet_60
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              transactionwallet:
                summary: transaction.wallet
                value:
                  eventType: transaction.wallet
[...]
