openapi: 3.0.3
info:
  title: SeerBit External API Reference
  version: "1.0"
  description: OpenAPI reference generated from the current Postman collection.
    Each operation corresponds directly to a request in the Postman collection.
servers:
  - url: https://seerbitapi.com
tags:
  - name: AUTHENTICATION
    description: Create the encrypted key used as the Bearer token for authenticated
      SeerBit API requests.
  - name: STANDARD CHECKOUT
    description: Create hosted checkout payment links, including normal and
      split-payment flows.
  - name: VIRTUAL ACCOUNTS
    description: Create and manage virtual bank accounts and retrieve their payment
      activity.
  - name: PAYMENT METHODS
    description: Initiate direct payments by card, bank account, transfer, USSD, or
      mobile money.
  - name: PAYMENT QUERY
    description: Look up the current result and details of a payment using its reference.
  - name: INVOICING
    description: Create, send, retrieve, and manage merchant invoices.
  - name: PARTNERS API
    description: Authenticate partner accounts and manage invited businesses,
      commissions, and partner credentials.
  - name: TOKENIZATION
    description: Tokenize cards and use authorization tokens for subsequent or bulk charges.
  - name: RECURRING & SUBSCRIPTIONS
    description: Create and manage subscription plans, customer subscriptions, and
      recurring charges.
  - name: PAYMENT LINKS
    description: Create, retrieve, update, and remove reusable payment links.
  - name: POCKET
    description: Authenticate and manage SeerBit Pockets, including balances,
      sub-pockets, and internal transfers.
  - name: PAYOUT
    description: Verify destination accounts and initiate or confirm external bank payouts.
  - name: WEBHOOKS (REFERENCE)
    description: Reference payloads SeerBit sends to your callback URL for
      payment-related events.
paths:
  /api/v2/encrypt/keys:
    post:
      tags:
        - AUTHENTICATION
      summary: Generate Encrypted Key
      description: Create the encrypted key used as the Bearer token for authenticated
        SeerBit API requests.
      operationId: post_generate-encrypted-key_0
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        description: >-
          Exchanges your `SECRET_KEY` and `publicKey` for an `EncryptedSecKey`.
          Use that value as the `BearerToken` collection variable — it's the
          Bearer token for every other authenticated request here. Call this
          once per session, or whenever your key changes; it does not expire on
          a fixed schedule but should be re-generated if a request starts
          failing auth.


          **Body fields**

          This endpoint is intentionally **No Auth** — you don't have a token yet when you call it.
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: "Your `SECRET_KEY` and `publicKey` joined with a period:
                    `SECRET_KEY.publicKey`"
              required:
                - key
            examples:
              generate-encrypted-key:
                summary: Generate Encrypted Key
                value:
                  key: "{{SECRET_KEY}}.{{publicKey}}"
      responses:
        "200":
          description: Successful response
  /api/v2/encrypt/hashs:
    post:
      tags:
        - AUTHENTICATION
      summary: Generate Hash
      description: Create the encrypted key used as the Bearer token for authenticated
        SeerBit API requests.
      operationId: post_generate-hash_1
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                paymentReference:
                  type: string
                planId:
                  type: string
                cardNumber:
                  type: string
                expiryMonth:
                  type: string
                callbackUrl:
                  type: string
                expiryYear:
                  type: string
                cvv:
                  type: string
                amount:
                  type: string
                currency:
                  type: string
                productDescription:
                  type: string
                productId:
                  type: string
                country:
                  type: string
                startDate:
                  type: string
                cardName:
                  type: string
                billingCycle:
                  type: string
                email:
                  type: string
                mobileNumber:
                  type: string
                billingPeriod:
                  type: string
                subscriptionAmount:
                  type: boolean
            examples:
              generate-hash:
                summary: Generate Hash
                value:
                  publicKey: "{{publicKey}}"
                  paymentReference: sub_ref_001
                  planId: "{{planId}}"
                  cardNumber: "5123450000000008"
                  expiryMonth: "01"
                  callbackUrl: https://example.com/callback
                  expiryYear: "28"
                  cvv: "000"
                  amount: "100"
                  currency: NGN
                  productDescription: Subscription
                  productId: product222
                  country: NG
                  startDate: 2026-09-01
                  cardName: Jane Doe
                  billingCycle: MONTHLY
                  email: customer@example.com
                  mobileNumber: "08012345678"
                  billingPeriod: "1"
                  subscriptionAmount: false
        description: >-
          Generic hash-generation endpoint — you pass the exact same body as the
          request you want a hash for, and SeerBit returns a hash you attach to
          that other call. The doc page's own worked example happens to use a
          subscription-creation payload (shown in this request's saved body);
          swap the body for whatever request you're actually hashing, keeping
          the same field names and types that request expects.


          **Verification note:** The available response example describes the _downstream_ payment response (`redirectUrl`, `paymentReference`) rather than the response returned by this endpoint. Confirm the actual response shape with a live sandbox call before relying on it.
      responses:
        "200":
          description: Successful response
  /api/v2/payments:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Normal Payment (No Split)
      description: Create hosted checkout payment links, including normal and
        split-payment flows.
      operationId: post_normal-payment-no-split_2
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key from the dashboard
                amount:
                  type: string
                  description: Amount to charge
                currency:
                  type: string
                  description: Transaction currency, e.g. `NGN`, `USD`
                country:
                  type: string
                  description: Country the transaction originates from
                paymentReference:
                  type: string
                  description: Unique reference you generate per transaction
                email:
                  type: string
                  description: Customer email address
                fullName:
                  type: string
                  description: Customer full name
                callbackUrl:
                  type: string
                  description: Where SeerBit redirects the customer after payment
                tokenize:
                  type: boolean
                  description: "**Confirmed by SeerBit.** If `true`: (1) the checkout page on
                    `redirectLink` only offers **Card** as a payment method — no
                    bank transfer, USSD, or other channels; (2) SeerBit
                    tokenizes the card, and the resulting `authorizationCode` is
                    not in this endpoint's own response — it's returned when you
                    call **Check Payment Status** afterward with the
                    `paymentReference`. Use that `authorizationCode` with
                    *Charge Authorization Token* / *Bulk Charge Token* to charge
                    the same card again. Defaults to `false` if omitted."
              required:
                - publicKey
                - amount
                - currency
                - country
                - paymentReference
                - email
                - fullName
                - callbackUrl
            examples:
              normal-payment-no-split:
                summary: Normal Payment (No Split)
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference8
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
        description: >-
          Creates a transaction and returns a `redirectLink` to SeerBit's hosted
          checkout page — send the customer there to enter payment details and
          complete the charge. No card data touches your server with this flow,
          and the full amount settles to your main merchant account with no
          split.


          **Body fields**


          This is the baseline request with no split fields — see the sibling requests in this folder **Standard Checkout — Easy Split (Split Code)** and **Standard Checkout — Full Dynamic Split** for the two ways to divide a payment across sub-accounts.


          A `409` means `paymentReference` has already been used — generate a new one per attempt, don't retry with the same value.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments#standard-checkout-easy-split-split-code:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Standard Checkout — Easy Split (Split Code)
      description: Create hosted checkout payment links, including normal and
        split-payment flows.
      operationId: post_standard-checkout-easy-split-split-code_3
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                splitCode:
                  type: string
                  description: Reference to a split rule created in advance on the SeerBit
                    dashboard.
                tokenize:
                  type: boolean
                  description: "**Confirmed by SeerBit.** If `true`, the checkout page restricts
                    payment to **Card only**, and the `authorizationCode` for
                    the tokenized card comes back from **Check Payment Status**,
                    not this endpoint's own response. Defaults to `false`."
              required:
                - splitCode
            examples:
              standard-checkout-easy-split-split-code:
                summary: Standard Checkout — Easy Split (Split Code)
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_split_code1
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
                  splitCode: SPLIT_RULE_CODE
        description: >-
          Same Standard Checkout flow as **Normal Payment (No Split)**, plus a
          single `splitCode` field: the code of a split rule you pre-configure
          once (recipients, percentages/amounts, fee bearer) on the SeerBit
          dashboard, then reference by code at payment time. This is the "easy"
          option — you don't specify recipients or amounts inline; the rule
          already defines them.


          Use this when your split recipients and their shares are fixed and known ahead of time. If you need to set the split's recipients or shares dynamically per transaction, use **Standard Checkout — Full Dynamic Split** instead.


          **Verification note:** doc.seerbit.com documents `splitCode` only as `"Split rule Code"` in an example body. Confirm how split rules are created and the exact code format in your dashboard before using this field.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments#standard-checkout-full-dynamic-split:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Standard Checkout — Full Dynamic Split
      description: Create hosted checkout payment links, including normal and
        split-payment flows.
      operationId: post_standard-checkout-full-dynamic-split_4
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: "`FLAT` (fixed amount per recipient) or `PERCENTAGE`"
                transactionFee:
                  type: string
                  description: Who bears the transaction fee — `ALL_ACCOUNTS`, `PROPORTIONATE`,
                    `SUB_ACCOUNT`, or `PARENT_ACCOUNT`
                bearerSubAccountCode:
                  type: string
                  description: Which sub-account bears the fee
                items:
                  type: array
                  description: "Each entry: `subAccountCode` and its `value` (amount or
                    percentage, matching `type`)"
                tokenize:
                  type: boolean
                  description: "**Confirmed by SeerBit.** If `true`, the checkout page restricts
                    payment to **Card only**, and the `authorizationCode` for
                    the tokenized card comes back from **Check Payment Status**,
                    not this endpoint's own response. Defaults to `false`."
              required:
                - type
                - transactionFee
                - items
            examples:
              standard-checkout-full-dynamic-split:
                summary: Standard Checkout — Full Dynamic Split
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_dynamic1
                  email: customer@example.com
                  fullName: Jane Doe
                  tokenize: false
                  callbackUrl: https://example.com/callback
                  splits:
                    type: PERCENTAGE
                    transactionFee: PARENT_ACCOUNT
                    items:
                      - subAccountCode: SUB_ACC_001
                        value: "30"
        description: >-
          Same Standard Checkout flow as **Normal Payment (No Split)**, plus a
          `splits` object defining recipients and shares inline, at payment time
          — no pre-configured split rule needed. Use this when split details
          aren't known in advance (e.g. a marketplace computing a different
          vendor split per order).


          **`splits` object fields**


          Compare **Standard Checkout — Easy Split (Split Code)**, which references a split rule you configured ahead of time instead of specifying recipients inline.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/virtual-accounts:
    post:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Create Virtual Account
      description: Create and manage virtual bank accounts and retrieve their payment
        activity.
      operationId: post_create-virtual-account_5
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key
                fullName:
                  type: string
                  description: Customer's full name, used as the account name
                email:
                  type: string
                  description: Customer email
                currency:
                  type: string
                  description: Currency code, e.g. `NGN`
                country:
                  type: string
                  description: Country code, e.g. `NG`
                reference:
                  type: string
                  description: Your unique reference for this virtual account — also used to
                    fetch/delete it later
                bankVerificationNumber:
                  type: string
                  description: Customer's BVN, for verification
              required:
                - publicKey
                - fullName
                - email
                - currency
                - country
                - reference
            examples:
              create-virtual-account:
                summary: Create Virtual Account
                value:
                  publicKey: "{{publicKey}}"
                  fullName: Jane Smith
                  bankVerificationNumber: ""
                  currency: NGN
                  country: NG
                  reference: FIRST_VIRTUAL_17
                  email: js@emaildomain.com
        description: >-
          Issues a dedicated bank account number for one customer. Transfers
          into that account are reconciled back to the customer automatically —
          use *Get Payments* to see what's landed on it.


          **Body fields**


          Response returns `walletName`, `bankName`, and `accountNumber` for the customer to pay into.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{paymentReference}":
    get:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Get Virtual Account
      description: Fetches details for one virtual account by the `reference` used to
        create it (passed here as `paymentReference`). Response includes
        `linkingReference`, `wallet`, `bankName`, and `accountNumber`.
      operationId: get_get-virtual-account_6
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{reference}":
    delete:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Delete Virtual Account
      description: Deactivates a virtual account by its `reference`. On success,
        returns a confirmation message — "Virtual account has been deleted".
      operationId: delete_delete-virtual-account_7
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: reference
          in: path
          required: true
          description: Value of reference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/virtual-accounts/{publicKey}/{accountNumber}":
    get:
      tags:
        - VIRTUAL ACCOUNTS
      summary: Get Payments
      description: "Lists transactions that have landed on one virtual account,
        identified by `publicKey` and `accountNumber` in the path. Each entry
        includes `amount`, customer name, `paymentType`, `status`, settlement
        info, and `transferType: RESERVE_ACCOUNT`."
      operationId: get_get-payments_8
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: accountNumber
          in: path
          required: true
          description: Value of accountNumber
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates:
    post:
      tags:
        - PAYMENT METHODS
      summary: Card Payment
      description: Initiate direct payments by card, bank account, transfer, USSD, or
        mobile money.
      operationId: post_card-payment_9
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key
                amount:
                  type: string
                  description: Amount to charge
                currency:
                  type: string
                  description: e.g. `NGN`
                country:
                  type: string
                  description: Country code
                paymentReference:
                  type: string
                  description: Unique reference you generate
                email:
                  type: string
                  description: Customer email
                fullName:
                  type: string
                  description: Customer full name
                paymentType:
                  type: string
                  description: "`CARD` for this flow"
                cardDetails:
                  type: string
                  description: Card number
                callbackUrl:
                  type: string
                  description: Where SeerBit sends the final result
              required:
                - publicKey
                - amount
                - currency
                - country
                - paymentReference
                - email
                - fullName
                - paymentType
                - cardDetails
                - callbackUrl
            examples:
              card-payment:
                summary: Card Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_card1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: CARD
                  cardDetails:
                    pan: "5060990580000217499"
                    expiryMonth: "03"
                    expiryYear: "2027"
                    cvv: "111"
                  callbackUrl: https://example.com/callback
        description: >-
          Direct/inline card charge — you collect the card's PAN, expiry and CVV
          on your own form and POST them here, instead of redirecting the
          customer to SeerBit's hosted page (compare **Standard Checkout**,
          which never touches raw card data on your server). Because this
          endpoint receives raw card details, your integration is in PCI-DSS
          scope — SeerBit's hosted **Standard Checkout** flow is the
          lower-compliance-burden alternative most integrators should default
          to.


          **Body fields**


          **OTP step**: many card transactions come back requiring 3DS/OTP authentication. Per the Card Payment doc page, you complete this by POSTing again to this **same** `/api/v2/payments/initiates` URL with a body shaped like:

          ```json

          {
            "transaction": {
              "linkingreference": "<from initial response>",
              "otp": "<code entered by customer>"
            }
          }

          ```

          Then poll **Check Payment Status** (Payment Query folder) with `paymentReference` to confirm the final state.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#bank-account-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: Bank Account Payment
      description: Initiate direct payments by card, bank account, transfer, USSD, or
        mobile money.
      operationId: post_bank-account-payment_10
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                amount:
                  type: string
                currency:
                  type: string
                country:
                  type: string
                paymentReference:
                  type: string
                email:
                  type: string
                fullName:
                  type: string
                paymentType:
                  type: string
                  description: Confirm the value for this flow with SeerBit before sending the
                    request.
                accountNumber:
                  type: string
                bankCode:
                  type: string
                callbackUrl:
                  type: string
            examples:
              bank-account-payment:
                summary: Bank Account Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_bank1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: <confirm paymentType>
                  accountNumber: "0000000000"
                  bankCode: "058"
                  callbackUrl: https://example.com/callback
        description: >-
          Initiates a direct bank-account debit: the customer authorizes a
          charge straight from their bank account (via account number + bank
          code) rather than a card, USSD code, or transfer-in.


          **Verification note:** Confirm these two details with SeerBit before using this request:

          1. The exact `paymentType` value for this flow. The available documentation does not specify it, so the sample uses `<confirm paymentType>` as a placeholder.

          2. The OTP/authorization endpoint. The documentation references **`/payments/validate`** without specifying its full URL, method, or body. The Card Payment documentation instead describes a second POST to `/api/v2/payments/initiates` with a `{"transaction": {"linkingreference":..., "otp":...}}` body; confirm which flow applies here.


          **Body fields** (`accountNumber` + `bankCode` identify the account to debit; other fields match Card Payment). Verify the `paymentType` value and validation step directly with SeerBit before relying on this request.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#transfer:
    post:
      tags:
        - PAYMENT METHODS
      summary: Transfer
      description: Initiate direct payments by card, bank account, transfer, USSD, or
        mobile money.
      operationId: post_transfer_11
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                  description: "`TRANSFER`"
              required:
                - paymentType
            examples:
              transfer:
                summary: Transfer
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_transfer1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: TRANSFER
                  callbackUrl: https://example.com/callback
        description: >-
          Initiates a bank-transfer payment: SeerBit returns a dynamic virtual
          account number for this transaction that the customer transfers the
          exact amount into from their own banking app; SeerBit matches the
          credit and confirms the transaction. This is distinct from the
          **Virtual Accounts** folder, which provisions a *persistent* account
          number for a customer across many transactions — this is a one-off,
          per-transaction account.


          **Body fields**


          Poll **Check Payment Status** (Payment Query folder) with `paymentReference`, or listen for the `transaction` webhook, to detect when the transfer lands.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#ussd-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: USSD Payment
      description: Initiate direct payments by card, bank account, transfer, USSD, or
        mobile money.
      operationId: post_ussd-payment_12
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                  description: "`USSD`"
                bankCode:
                  type: string
                  description: Bank's USSD routing code, e.g. `058` for GTBank
              required:
                - paymentType
                - bankCode
            examples:
              ussd-payment:
                summary: USSD Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: NGN
                  country: NG
                  paymentReference: payment_reference_ussd1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: USSD
                  bankCode: "058"
                  callbackUrl: https://example.com/callback
        description: >-
          Initiates a USSD payment: SeerBit returns a USSD string (e.g.
          `*723*...#`) the customer dials on their phone from the bank account
          linked to `bankCode` to authorize the debit — no card or app needed.


          **Body fields**


          The initial response includes the USSD code to display to the customer. Poll **Check Payment Status** (Payment Query folder) with `paymentReference` — there's no separate OTP step; authorization happens on the phone via the USSD session itself.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/initiates#mobile-money-payment:
    post:
      tags:
        - PAYMENT METHODS
      summary: Mobile Money Payment
      description: Initiate direct payments by card, bank account, transfer, USSD, or
        mobile money.
      operationId: post_mobile-money-payment_13
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                  description: "`MOMO`"
                mobileNumber:
                  type: string
                  description: Customer's mobile-money-linked phone number
                network:
                  type: string
                  description: Mobile network operator, e.g. `MTN`, `AIRTELTIGO`, `VODAFONE`
              required:
                - paymentType
                - mobileNumber
                - network
            examples:
              mobile-money-payment:
                summary: Mobile Money Payment
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  currency: GHS
                  country: GH
                  paymentReference: payment_reference_momo1
                  email: customer@example.com
                  fullName: Jane Doe
                  paymentType: MOMO
                  mobileNumber: "233241234567"
                  network: MTN
                  callbackUrl: https://example.com/callback
        description: >-
          Initiates a mobile-money payment (e.g. MTN MoMo, AirtelTigo) — SeerBit
          sends a prompt to the customer's phone on the given
          `mobileNumber`/`network`, and the customer approves the debit directly
          on their handset. Used primarily for Ghana (`GHS`) and other African
          mobile-money markets.


          **Body fields**


          Poll **Check Payment Status** (Payment Query folder) with `paymentReference` after the customer approves the prompt on their phone.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v3/payments/query/{paymentReference}":
    get:
      tags:
        - PAYMENT QUERY
      summary: Check Payment Status
      description: >-
        Looks up the current status of a transaction by its `paymentReference`.
        **Corrected to v3** — the doc.seerbit.com page for this actually
        documents `/api/v3/payments/query/{paymentReference}` (matching what
        *Get Card Authorization Code* already used), not v2 as this request
        previously had it. The v3 response includes fuller detail: status,
        amount, gateway message, masked card details, and customer info.


        Use this after Standard Checkout, Create Token, or any flow that returns a `paymentReference`, to confirm the final state rather than relying only on the initial response's `code`.


        **Tokenized Standard Checkout**: if the original Standard Checkout call had `tokenize: true`, this is where the `authorizationCode` for the saved card actually comes back — it is not in Standard Checkout's own response. Save it from here to use with *Charge Authorization Token* / *Bulk Charge Token*.
      operationId: get_check-payment-status_14
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /invoice/create:
    post:
      tags:
        - INVOICING
      summary: Create Invoice
      description: Create, send, retrieve, and manage merchant invoices.
      operationId: post_create-invoice_15
      servers:
        - url: https://merchant.seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key
                orderNo:
                  type: string
                  description: Unique order identifier
                dueDate:
                  type: string
                  description: Invoice due date
                currency:
                  type: string
                  description: Currency code, e.g. `NGN`
                receiversName:
                  type: string
                  description: Customer name shown on the invoice
                customerEmail:
                  type: string
                  description: Where the invoice is sent
                invoiceItems:
                  type: array
                  description: Line items, each with `itemName`, `quantity`, `rate`, `tax` (tax as
                    a percentage)
              required:
                - publicKey
                - orderNo
                - dueDate
                - currency
                - receiversName
                - customerEmail
                - invoiceItems
            examples:
              create-invoice:
                summary: Create Invoice
                value:
                  publicKey: "{{publicKey}}"
                  orderNo: "333333221321"
                  dueDate: 2026-10-23
                  currency: NGN
                  receiversName: Jane Smith
                  customerEmail: janesmith@emaildomain.com
                  invoiceItems:
                    - itemName: Bluetooth Pods
                      quantity: 1
                      rate: 25000
                      tax: 7.5
                    - itemName: Quest 10
                      quantity: 4
                      rate: 100000
                      tax: 7.5
        description: >-
          Creates and sends an itemised invoice to a customer by email, without
          you building a checkout flow. Source:
          doc.seerbit.com/online-payment/payment-features/invoicing,
          cross-checked with the original collection (the doc page's own code
          samples only show empty placeholder URLs, so the exact host/path is
          carried over from the original working collection, not independently
          re-confirmed).


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/bulk-requests":
    post:
      tags:
        - INVOICING
      summary: Bulk Invoice Requests
      description: Create, send, retrieve, and manage merchant invoices.
      operationId: post_bulk-invoice-requests_16
      servers:
        - url: https://merchant.seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  orderNo:
                    type: string
                  dueDate:
                    type: string
                  currency:
                    type: string
                  customerEmail:
                    type: string
                  invoiceItems:
                    type: array
            examples:
              bulk-invoice-requests:
                summary: Bulk Invoice Requests
                value:
                  - orderNo: AZPOP12929322
                    dueDate: 2026-03-19
                    currency: NGN
                    customerEmail: testtechblazer1@mailinator.com
                    invoiceItems:
                      - itemName: Air Pod 2
                        quantity: 1
                        rate: 5
                        tax: 1.5
                      - itemName: Quest 1
                        quantity: 4
                        rate: 10
                        tax: 2.5
                      - itemName: Earpod
                        quantity: 1
                        rate: 100
                        tax: 0.5
                  - orderNo: AZPOP12929323
                    dueDate: 2026-03-28
                    currency: NGN
                    receiversName: Frank John
                    customerEmail: testtechblazer2@mailinator.com
                    invoiceItems:
                      - itemName: Power Bulb
                        quantity: 10
                        rate: 5
                        tax: 0.5
        description: >-
          Same as *Create Invoice*, but accepts a JSON array to send multiple
          invoices in one call. Same sourcing caveat as Create Invoice —
          host/path carried over from the original collection, not independently
          re-confirmed against a doc.seerbit.com code sample.


          **Body:** array of invoice objects, each shaped like *Create Invoice*'s body (`receiversName` is optional per the saved example — the other fields are required).
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/send/{InvoiceNo}":
    get:
      tags:
        - INVOICING
      summary: Re-send an Invoice
      description: >-
        Re-sends an existing invoice (identified by `InvoiceNo`) to its customer
        by email — use this when the original invoice email didn't arrive or
        needs to go out again, rather than creating a duplicate invoice with
        Create Invoice.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `InvoiceNo` | The invoice's number, e.g. `SBT-INV-000054`, from Create Invoice's response |


        Returns a `code`/`payload` confirmation; it doesn't return the invoice body again.
      operationId: get_re-send-an-invoice_17
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: InvoiceNo
          in: path
          required: true
          description: Value of InvoiceNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/customer/{customerEmail}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Customer Email
      description: >-
        Looks up invoice(s) associated with a given customer email address —
        useful when you know who the invoice was billed to but not its invoice
        or order number.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `customerEmail` | The customer's email address the invoice was billed to |


        Add a `customerEmail` collection variable with the address you're looking up, or replace the path segment directly.
      operationId: get_get-invoice-by-customer-email_18
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: customerEmail
          in: path
          required: true
          description: Value of customerEmail
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/{InvoiceNo}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Invoice Number
      description: >-
        Fetches a single invoice's full detail — including its line items
        (`invoiceItems`) — by `InvoiceNo`.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `InvoiceNo` | The invoice's number, e.g. `SBT-INV-000054` |


        Response includes `status` (e.g. `DRAFT`), `totalAmount`, `dueDate`, `currency`, and the itemized `invoiceItems` array — unlike **Get Invoice by orderNo**, which returns a summary without line items.
      operationId: get_get-invoice-by-invoice-number_19
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: InvoiceNo
          in: path
          required: true
          description: Value of InvoiceNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/invoice/{publicKey}/order/{orderNo}":
    get:
      tags:
        - INVOICING
      summary: Get Invoice by Order Number
      description: >-
        Looks up an invoice by the `orderNo` you supplied when creating it via
        Create Invoice — useful when your own system tracks orders and you don't
        have SeerBit's `InvoiceNo` on hand.


        **Path parameters**


        | Param | Description |

        |---|---|

        | `publicKey` | Merchant public key |

        | `orderNo` | The order number you passed to Create Invoice |


        Returns a summary (no itemized `invoiceItems` array) — use **Get Invoice by Invoice Number** with the `invoiceNo` from this response if you need line-item detail.
      operationId: get_get-invoice-by-order-number_20
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: orderNo
          in: path
          required: true
          description: Value of orderNo
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/create-token:
    post:
      tags:
        - TOKENIZATION
      summary: Create Token
      description: Tokenize cards and use authorization tokens for subsequent or bulk
        charges.
      operationId: post_create-token_21
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key
                amount:
                  type: string
                  description: Charge amount — minimum is currency-dependent (e.g. NGN 50, GHS 1,
                    KES 1, USD 0.50)
                fullName:
                  type: string
                  description: Cardholder's name
                mobileNumber:
                  type: string
                  description: Customer phone number
                email:
                  type: string
                  description: Customer email
                currency:
                  type: string
                  description: Transaction currency
                country:
                  type: string
                  description: Country of the transaction
                paymentType:
                  type: string
                  description: Must be `"CARD"`
                cardNumber:
                  type: string
                  description: Full card number
                expiryMonth:
                  type: string
                  description: Two-digit expiry month (`01`–`12`)
                expiryYear:
                  type: string
                  description: Card expiry year
                cvv:
                  type: string
                  description: Card security code
                pin:
                  type: string
                  description: Card PIN (required by some card schemes/issuers)
                redirectUrl:
                  type: string
                  description: Where the customer lands after completing 3DS/OTP authentication
                paymentReference:
                  type: string
                  description: Unique reference you generate per transaction
              required:
                - publicKey
                - amount
                - fullName
                - mobileNumber
                - email
                - currency
                - country
                - paymentType
                - cardNumber
                - expiryMonth
                - expiryYear
                - cvv
                - pin
                - redirectUrl
                - paymentReference
            examples:
              create-token:
                summary: Create Token
                value:
                  publicKey: "{{publicKey}}"
                  amount: "50"
                  fullName: Jane Smith
                  mobileNumber: "03447522256"
                  redirectUrl: http://example.com
                  currency: NGN
                  country: NG
                  paymentReference: 204g4de74a7ib0j18dg6bi521aiaejf4
                  email: janesmith@seerbit.com
                  paymentType: CARD
                  cardNumber: "512348984984988883"
                  expiryMonth: "01"
                  expiryYear: "25"
                  cvv: "000"
                  pin: "2222"
        description: >-
          Charges a card for the first time **and** saves it, returning card
          details you can later exchange for an `authorizationCode` (via *Get
          Card Authorization Code*) to charge the same card again without
          re-collecting details. Requires the customer to complete 3DS/OTP
          authentication on `redirectUrl`.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v3/payments/query/{paymentReference}#get-card-authorization-code":
    get:
      tags:
        - TOKENIZATION
      summary: Get Card Authorization Code
      description: >-
        Returns authorizationCode, customerId and maskedPan for a tokenized
        transaction. Note this is v3, unlike the v2 Payment Query endpoint.


        **Response fields to read**


        | Field | Description |

        |---|---|

        | `authorizationCode` | Token to pass into *Charge Authorization Token* / *Bulk Charge Token* for future charges |

        | `customerId` | SeerBit's identifier for this customer, reusable across subscriptions |

        | `maskedPan` | Redacted card number for display, e.g. `5123-40xx-xxxx-0008` |
      operationId: get_get-card-authorization-code_22
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentReference
          in: path
          required: true
          description: Value of paymentReference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/charge-token:
    post:
      tags:
        - TOKENIZATION
      summary: Charge Authorization Token
      description: Tokenize cards and use authorization tokens for subsequent or bulk
        charges.
      operationId: post_charge-authorization-token_23
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                  description: Merchant public key
                amount:
                  type: string
                  description: Amount to charge
                paymentReference:
                  type: string
                  description: New, unique reference for this charge
                authorizationCode:
                  type: string
                  description: From *Get Card Authorization Code*
              required:
                - publicKey
                - amount
                - paymentReference
                - authorizationCode
            examples:
              charge-authorization-token:
                summary: Charge Authorization Token
                value:
                  publicKey: "{{publicKey}}"
                  amount: "5000.00"
                  paymentReference: charge_token_ref_001
                  authorizationCode: "{{authorizationCode}}"
        description: >-
          Charges a previously tokenized card using its `authorizationCode`,
          without asking the customer for card details again. Use this for
          one-off repeat charges; for scheduled recurring billing, use *Charge
          Subscription* instead.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/bulk-tokenize-charge:
    post:
      tags:
        - TOKENIZATION
      summary: Bulk Charge Token
      description: Tokenize cards and use authorization tokens for subsequent or bulk
        charges.
      operationId: post_bulk-charge-token_24
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  publicKey:
                    type: string
                  amount:
                    type: string
                  paymentReference:
                    type: string
                  authorizationCode:
                    type: string
            examples:
              bulk-charge-token:
                summary: Bulk Charge Token
                value:
                  - publicKey: "{{publicKey}}"
                    amount: "5000.00"
                    paymentReference: bulk_ref_001
                    authorizationCode: "{{authorizationCode}}"
                  - publicKey: "{{publicKey}}"
                    amount: "2500.00"
                    paymentReference: bulk_ref_002
                    authorizationCode: "{{authorizationCode}}"
        description: >-
          Same as *Charge Authorization Token*, but accepts a JSON array so you
          can charge many tokenized cards in one call. Each array entry needs
          its own unique `paymentReference`. Returns a `batchId` — poll *Query
          Bulk Charge* with it to see per-entry results, since a bulk call can
          partially succeed.


          **Body:** array of objects, each with the same fields as *Charge Authorization Token* (`publicKey`, `amount`, `paymentReference`, `authorizationCode`).
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/payments/bulk-tokenize-charge-search:
    get:
      tags:
        - TOKENIZATION
      summary: Query Bulk Charge
      description: Looks up the outcome of a *Bulk Charge Token* batch by `batchId`.
        Returns paginated per-entry results (authorization codes, status codes,
        card details, amounts) — check each entry's own status rather than
        assuming the whole batch succeeded or failed together.
      operationId: get_query-bulk-charge_25
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: batchId
          in: query
          required: false
          description: Query parameter batchId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v1/recurrent/plan/create:
    post:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Create Plan
      description: Create and manage subscription plans, customer subscriptions, and
        recurring charges.
      operationId: post_create-plan_26
      servers:
        - url: https://merchants.seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  type: string
                  description: Plan name/identifier
                productDescription:
                  type: string
                  description: Description of the plan
                amount:
                  type: string
                  description: Amount charged per cycle
                billingCycle:
                  type: string
                  description: "`HOURLY`, `DAILY`, `WEEKLY`, `MONTHLY`, or `ANNUALLY`"
                limit:
                  type: integer
                  description: Maximum number of billing cycles before the plan stops
                publicKey:
                  type: string
                  description: Merchant public key
                country:
                  type: string
                  description: Country code, e.g. `NG`
                currency:
                  type: string
                  description: Currency code, e.g. `NGN`
                allowPartialDebit:
                  type: boolean
                  description: Whether to charge whatever's available if the customer has
                    insufficient funds for the full amount
              required:
                - productId
                - productDescription
                - amount
                - billingCycle
                - limit
                - publicKey
                - country
                - currency
                - allowPartialDebit
            examples:
              create-plan:
                summary: Create Plan
                value:
                  productId: product222
                  productDescription: <Description of Plan>
                  amount: "100"
                  billingCycle: HOURLY
                  limit: 5
                  publicKey: "{{publicKey}}"
                  country: NG
                  currency: NGN
                  allowPartialDebit: false
        description: >-
          Defines a recurring billing plan (amount + cadence + how many cycles
          to run). Once created, subscribe a tokenized card to it and SeerBit
          charges automatically on schedule. Host is `merchants.seerbitapi.com`
          (plural) — a documented inconsistency vs. the
          `merchant.seerbitapi.com` (singular) invoicing host, easy to mistype.


          **Body fields**


          Response includes `planId`, `payUrl`, and `status: "ACTIVE"` — save `planId` for future reference.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/recurring/publicKey/{publicKey}":
    get:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Get Merchant Subscriptions
      description: Lists every subscription under this `publicKey`, with `amount`,
        `customerId`, `cardName`, `cardNumber` (masked), `plan`, `status`,
        `billingId`, `authorizationCode`, `startDate`, and `createdAt` per
        entry.
      operationId: get_get-merchant-subscriptions_27
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/recurring/charge:
    post:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Charge Subscription
      description: Create and manage subscription plans, customer subscriptions, and
        recurring charges.
      operationId: post_charge-subscription_28
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: Amount to charge
                publicKey:
                  type: string
                  description: Merchant public key
                email:
                  type: string
                  description: Customer email
                authorizationCode:
                  type: string
                  description: From the customer's completed subscription
                paymentReference:
                  type: string
                  description: New, unique reference for this charge
                currency:
                  type: string
                  description: Currency code
                allowPartialDebit:
                  type: string
                  description: Whether to allow a partial charge on insufficient funds
              required:
                - amount
                - publicKey
                - email
                - authorizationCode
                - paymentReference
                - currency
            examples:
              charge-subscription:
                summary: Charge Subscription
                value:
                  amount: "100"
                  publicKey: "{{publicKey}}"
                  email: customer@example.com
                  authorizationCode: "{{authorizationCode}}"
                  paymentReference: sub_charge_ref_001
                  currency: NGN
                  allowPartialDebit: false
        description: >-
          Manually triggers a charge against an existing subscription's
          tokenized card, outside the automatic billing schedule (e.g. to bill
          immediately rather than wait for the next cycle).


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/api/v2/recurring/{publicKey}/customerId/{customerId}":
    get:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Get Customer Subscription
      description: Lists the subscriptions belonging to one customer (`customerId`)
        under this `publicKey` — a customer can have more than one active plan.
      operationId: get_get-customer-subscription_29
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          description: Value of customerId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /api/v2/recurring/updates:
    put:
      tags:
        - RECURRING & SUBSCRIPTIONS
      summary: Update Customer Subscription
      description: Create and manage subscription plans, customer subscriptions, and
        recurring charges.
      operationId: put_update-customer-subscription_30
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billingId:
                  type: string
                  description: Identifies the subscription being updated
                publicKey:
                  type: string
                  description: Merchant public key
                currency:
                  type: string
                  description: Currency code
                country:
                  type: string
                  description: Country code
                amount:
                  type: string
                  description: New charge amount
                status:
                  type: string
                  description: "`ACTIVE` or `INACTIVE` — set to `INACTIVE` to cancel future
                    billing"
                mobileNumber:
                  type: string
                  description: Update the customer's phone number on file
              required:
                - billingId
                - publicKey
                - currency
                - country
            examples:
              update-customer-subscription:
                summary: Update Customer Subscription
                value:
                  billingId: "{{billingId}}"
                  publicKey: "{{publicKey}}"
                  status: ACTIVE
                  amount: "100"
                  currency: NGN
                  country: NG
        description: >-
          Changes an existing subscription's status or terms, identified by
          `billingId`.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /paymentlink/v2/payLinks/api:
    post:
      tags:
        - PAYMENT LINKS
      summary: Create Payment Link
      description: Create, retrieve, update, and remove reusable payment links.
      operationId: post_create-payment-link_31
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: "`ACTIVE` or `INACTIVE`"
                paymentLinkName:
                  type: string
                  description: Internal name for the link
                description:
                  type: string
                  description: Shown to the customer on the payment page
                currency:
                  type: string
                  description: Currency code, e.g. `NGN`
                publicKey:
                  type: string
                  description: Merchant public key
                paymentFrequency:
                  type: string
                  description: "`ONE_TIME` or `RECURRENT`"
                requiredFields:
                  type: string
                  description: "Which customer fields the payer must fill in: `address`, `amount`,
                    `customerName`, `mobileNumber`, `invoiceNumber` (each
                    boolean)"
                email:
                  type: string
                  description: Notification email
                successMessage:
                  type: string
                  description: Shown after a successful payment
                customizationName:
                  type: string
                  description: Branding/customization preset
                additionalData:
                  type: string
                  description: Free-text metadata attached to the link
                linkExpirable:
                  type: boolean
                  description: Whether the link expires
                expiryDate:
                  type: string
                  description: Expiry date, required if `linkExpirable` is true
                oneTime:
                  type: boolean
                  description: Whether the link is invalidated after first use
              required:
                - status
                - paymentLinkName
                - description
                - currency
                - publicKey
                - paymentFrequency
                - requiredFields
            examples:
              create-payment-link:
                summary: Create Payment Link
                value:
                  status: ACTIVE
                  paymentLinkName: testing out
                  description: Give out donations
                  currency: NGN
                  successMessage: Thank you for your payment
                  publicKey: "{{publicKey}}"
                  customizationName: dot dty it
                  paymentFrequency: ONE_TIME
                  paymentReference: ""
                  email: js@emaildomain.com
                  requiredFields:
                    address: true
                    amount: true
                    customerName: true
                    mobileNumber: true
                    invoiceNumber: false
                  additionalData: "Customer Email: js@mailinator.com"
                  linkExpirable: false
                  expiryDate: ""
                  oneTime: false
        description: >-
          Creates a hosted, shareable payment URL — send it directly to a
          customer instead of building a checkout flow. Supports one-time links
          and recurring links.


          **Body fields**


          Response returns `paymentLinkUrl` and `paymentLinkId` — save the latter, it's needed to update or delete the link later.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
    put:
      tags:
        - PAYMENT LINKS
      summary: Update Payment Link
      description: Create, retrieve, update, and remove reusable payment links.
      operationId: put_update-payment-link_33
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentLinkId:
                  type: string
                  description: From *Create Payment Link*'s response, or *Get Merchant Payment
                    Links*
              required:
                - paymentLinkId
            examples:
              update-payment-link:
                summary: Update Payment Link
                value:
                  paymentLinkId: "77287988"
                  status: INACTIVE
                  description: Test paymentLink
                  successMessage: Payment made successfully!
                  businessName: My Business
                  publicKey: "{{publicKey}}"
                  customizationName: my_link_4
                  paymentFrequency: RECURRENT
                  email: customer@seerbit.com
                  requiredFields:
                    address: true
                    amount: true
                    customerName: true
                    mobileNumber: true
                    invoiceNumber: false
                  linkExpirable: false
                  expiryDate: ""
                  oneTime: false
        description: >-
          Updates an existing payment link's configuration. Source:
          doc.seerbit.com/online-payment/payment-features/payment-links.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/paymentlink/v2/payLinks/api/{publicKey}":
    get:
      tags:
        - PAYMENT LINKS
      summary: Get Merchant Payment Links
      description: Lists every payment link created under this `publicKey`, with their
        current status, configuration, and timestamps. Use this to find a
        `paymentLinkId` if you didn't save it when creating the link.
      operationId: get_get-merchant-payment-links_32
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: publicKey
          in: path
          required: true
          description: Value of publicKey
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/paymentlink/v2/payLinks/api/deleteLink/{paymentLinkId}":
    delete:
      tags:
        - PAYMENT LINKS
      summary: Delete Payment Link
      description: "Permanently deactivates a payment link. Source:
        doc.seerbit.com/online-payment/payment-features/payment-links, which
        documents this as DELETE (the original collection request used GET —
        fixed)."
      operationId: delete_delete-payment-link_34
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: paymentLinkId
          in: path
          required: true
          description: Value of paymentLinkId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/authenticate:
    post:
      tags:
        - POCKET
      summary: Authenticate
      description: Authenticate and manage SeerBit Pockets, including balances,
        sub-pockets, and internal transfers.
      operationId: post_authenticate_35
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Pocket account email
                password:
                  type: string
                  description: Your **Pocket password** — not your SeerBit merchant dashboard
                    password. This is the password for your Pocket account at
                    flow.seerbitapi.com.
              required:
                - email
                - password
            examples:
              authenticate:
                summary: Authenticate
                value:
                  email: "{{pocketEmail}}"
                  password: "{{pocketPassword}}"
        description: >-
          Logs in to a Pocket (SeerBit's wallet product) and returns a Bearer
          token scoped to Pocket and Payout endpoints — **not** the same token
          as `{{BearerToken}}` (the OAuth token from *Get Access Token* in the
          Authentication folder, used everywhere else in this collection).
          Pocket is a **separate feature from Payout**: the doc site describes
          Pocket as sending funds between pockets, sub-pockets, or out to banks
          (that last case *is* a payout), while the Payout folder above covers
          the signed, OTP-gated bank-payout flow specifically — both folders
          share this same login and the same token.


          **Body fields**


          Response includes `bearerToken`, `expiryTime`, and `requirePasswordChange` — check the last one and call *Change Password* if true. Save `bearerToken` as `{{pocketAuthToken}}` — the variable used on Pocket and Payout requests that require this login, kept distinct from `{{BearerToken}}` on purpose.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/user/change-password:
    post:
      tags:
        - POCKET
      summary: Change Password
      description: Authenticate and manage SeerBit Pockets, including balances,
        sub-pockets, and internal transfers.
      operationId: post_change-password_36
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  description: Current Pocket password
                newPassword:
                  type: string
                  description: New Pocket password
              required:
                - currentPassword
                - newPassword
            examples:
              change-password:
                summary: Change Password
                value:
                  currentPassword: "{{pocketPassword}}"
                  newPassword: "{{newPocketPassword}}"
        description: >-
          Changes the Pocket account's password — required on first login if
          *Authenticate*'s response flagged `requirePasswordChange: true`.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/pocket-id/{pocketID}/sub-pocket":
    post:
      tags:
        - POCKET
      summary: Add Sub-Pocket
      description: Authenticate and manage SeerBit Pockets, including balances,
        sub-pockets, and internal transfers.
      operationId: post_add-sub-pocket_37
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  reference:
                    type: string
                    description: Your unique reference for this sub-pocket
                  pocketFunction:
                    type: string
                    description: e.g. `BOTH` (can send and receive)
                  currency:
                    type: string
                    description: Currency the sub-pocket holds
                  selfOwned:
                    type: boolean
                    description: Whether the sub-pocket belongs to you or an external owner
                  pocketOwner:
                    type: string
                    description: "`existingPocketOwner` plus `pocketOwnerDetails` (`firstName`,
                      `lastName`, `emailAddress`, `phoneNumber`,
                      `businessName`)"
                  tagGroup:
                    type: string
                    description: Grouping label
                  tagName:
                    type: string
                    description: Display label
                required:
                  - reference
                  - pocketFunction
                  - currency
                  - selfOwned
                  - pocketOwner
            examples:
              add-sub-pocket:
                summary: Add Sub-Pocket
                value:
                  - reference: subpocket_ref_001
                    pocketFunction: BOTH
                    currency: NGN
                    selfOwned: true
                    pocketOwner:
                      existingPocketOwner: "false"
                      pocketOwnerDetails:
                        firstName: Jane
                        lastName: Doe
                        emailAddress: jane@example.com
                        phoneNumber: "08012345678"
                        businessName: Acme Ltd
        description: >-
          Creates a sub-pocket under a parent pocket — e.g. one wallet per
          vendor, department, or customer, all rolling up to the parent. Body is
          an array, so you can create several sub-pockets in one call.


          **Body fields (per array entry)**


          Response returns the new `pocketId`, its dedicated `bankAccountNumber`/`bankAccountName`/`bankName`, and login details for the sub-pocket's own user.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/transfer/from-pocket/{pocketID}/to-pocket/{destinationPocketID}":
    post:
      tags:
        - POCKET
      summary: Pocket to Pocket Transfer
      description: Authenticate and manage SeerBit Pockets, including balances,
        sub-pockets, and internal transfers.
      operationId: post_pocket-to-pocket-transfer_38
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
        - name: destinationPocketID
          in: path
          required: true
          description: Value of destinationPocketID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: Amount to move
                currency:
                  type: string
                  description: Currency, must match both pockets
                reference:
                  type: string
                  description: Unique reference for this transfer
                description:
                  type: string
                  description: Free-text note
              required:
                - amount
                - currency
                - reference
                - description
            examples:
              pocket-to-pocket-transfer:
                summary: Pocket to Pocket Transfer
                value:
                  amount: "5000.00"
                  currency: NGN
                  reference: transfer_ref_001
                  description: Internal transfer
        description: >-
          Moves funds between two pockets (parent-to-sub-pocket, sub-to-sub,
          etc.) — an internal transfer, not a bank payout.


          **Body fields**
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Pocket Details
      description: "Fetches a pocket's full profile: status, balances, its own
        dedicated bank account (`accountNumber`, `fundingLink`), owner details,
        and any linked `pocketAccounts`."
      operationId: get_get-pocket-details_39
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/balance/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Pocket Balance
      description: Fast balance-only lookup for one pocket —
        `availableBalanceAmount`/`Currency` and `lastTransactionAt`. Use *Get
        Pocket Details* instead when you also need the account number or owner
        info.
      operationId: get_get-pocket-balance_40
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/balances-summation/pocket-id/{pocketID}":
    get:
      tags:
        - POCKET
      summary: Get Merchant Balance Summation
      description: "Rolls up balances across pockets:
        `merchantSubPocketsBalanceSummation` (just the sub-pockets under this
        one) and `merchantAllPocketsBalanceSummation` (every pocket under the
        merchant)."
      operationId: get_get-merchant-balance-summation_41
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketID
          in: path
          required: true
          description: Value of pocketID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/transaction/reference/{reference}":
    get:
      tags:
        - POCKET
      summary: Get Transaction by Reference
      description: Looks up one Pocket transaction (funding, transfer, fee, etc.) by
        its `reference`. Returns `transactionLeg` (`DEBIT`/`CREDIT`),
        `transactionType`, `status`, and counterparty details.
      operationId: get_get-transaction-by-reference_42
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: reference
          in: path
          required: true
          description: Value of reference
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/transaction/search:
    get:
      tags:
        - POCKET
      summary: Search Transactions
      description: >-
        Lists a pocket's transaction history, paginated.


        **Query parameters**


        | Field | Type | Required | Description |

        |---|---|---|---|

        | `pocketId` | string | Yes | The pocket to list transactions for |

        | `page` | integer | Yes | Zero-based page number |

        | `size` | integer | Yes | Records per page |


        Response wraps results in `content` plus `pageable`, `totalElements`, `totalPages` for pagination.
      operationId: get_search-transactions_43
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: pocketId
          in: query
          required: false
          description: Query parameter pocketId
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Query parameter page
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: Query parameter size
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/payout/account-enquiry:
    post:
      tags:
        - PAYOUT
      summary: Account Enquiry
      description: Verify destination accounts and initiate or confirm external bank
        payouts.
      operationId: post_account-enquiry_44
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountnumber:
                  type: string
                  description: Recipient bank account number
                bankcode:
                  type: string
                  description: Recipient bank's code, from *Bank List*
              required:
                - accountnumber
                - bankcode
            examples:
              account-enquiry:
                summary: Account Enquiry
                value:
                  accountnumber: "0123456789"
                  bankcode: "058"
        description: >-
          Reconfirms the account holder's name for a bank account before sending
          a payout — use it to catch a wrong account number before money moves.


          **Body fields**


          **Note:** the payout flow (*Authenticate for Payout* → *Initiate Single/Bulk Payout* → *Confirm Payout with OTP*) doesn't call this endpoint — it goes straight from authentication to initiating the payout, with no separate account-name-confirmation step built in. Whether it's still expected to run first, is optional, or belongs to a different flow isn't stated; use it as a manual pre-check if you want extra assurance before sending funds.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/banks/category/NIP:
    get:
      tags:
        - PAYOUT
      summary: Bank List
      description: Returns the banks supported for payouts in a given category — `NIP`
        in the saved URL is Nigeria's instant transfer network; swap the path
        segment if a different category is documented for your corridor.
        Requires Bearer auth plus a Public-Key header.
      operationId: get_bank-list_45
      servers:
        - url: https://seerbitapi.com
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/authenticate#authenticate-for-payout:
    post:
      tags:
        - PAYOUT
      summary: Authenticate for Payout
      description: Verify destination accounts and initiate or confirm external bank
        payouts.
      operationId: post_authenticate-for-payout_46
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Your merchant account's login email
                password:
                  type: string
                  description: Your **Pocket password** — not your SeerBit merchant dashboard
                    password. This is the password for your Pocket account at
                    flow.seerbitapi.com.
              required:
                - email
                - password
            examples:
              authenticate-for-payout:
                summary: Authenticate for Payout
                value:
                  email: your-merchant-login-email@example.com
                  password: your-merchant-password
        description: >-
          Logs in with your merchant account email and Pocket password to obtain
          the bearer token required by every other request in this payout flow.


          **Body fields**


          **Response: 200 OK**

          ```json

          {
              "data": {
                  "bearerToken": "..."
              }
          }

          ```

          Save `data.bearerToken` as `{{pocketAuthToken}}` — used as the `Authorization: Bearer` value on *Initiate Single Payout*, *Initiate Bulk Payout*, and *Confirm Payout with OTP*. This is the same login and token as *Authenticate* in the Pocket folder — kept as one shared variable, `{{pocketAuthToken}}`, and kept distinct from `{{BearerToken}}` (the OAuth token used everywhere else in this collection).


          **Note:** this is the only endpoint in this collection that authenticates with an email/password pair rather than an API key or OAuth token.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/v2/payouts:
    post:
      tags:
        - PAYOUT
      summary: Initiate Single Payout
      description: Verify destination accounts and initiate or confirm external bank
        payouts.
      operationId: post_initiate-single-payout_47
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pocketId:
                  type: string
                  description: The Pocket to pay out from
                reference:
                  type: string
                  description: Your unique reference for this payout. Re-submitting the same
                    `reference` is idempotent — it returns the existing
                    `payoutId` and a message that the OTP was already sent,
                    rather than sending a new OTP.
                currency:
                  type: string
                  description: Currency code
                amount:
                  type: number
                  description: Amount to send
                description:
                  type: string
                  description: Free-text note for the payout
                accountNumber:
                  type: string
                  description: Recipient bank account number
                bankCode:
                  type: string
                  description: Recipient bank's code — see *Bank List*
              required:
                - pocketId
                - reference
                - currency
                - amount
                - accountNumber
                - bankCode
            examples:
              initiate-single-payout:
                summary: Initiate Single Payout
                value:
                  pocketId: SBP0016878
                  reference: PAY-SINGLE-Ideal-001
                  currency: NGN
                  amount: 10
                  description: Single Payout API test
                  accountNumber: "0522376248"
                  bankCode: "000013"
        description: >-
          Phase 1 of 2 — initiates a single payout. Validates the request
          signature, encrypts the payload, and emails an OTP to the merchant;
          the payout only moves money once that OTP is submitted to *Confirm
          Payout with OTP*.


          **Required headers**


          | Header | Description |

          |---|---|

          | `Public-Key` | Your merchant public key (`{{publicKey}}`) |

          | `X-Seerbit-Signature` | HMAC-SHA256 of the exact raw JSON request body, computed with your merchant secret key (`{{SECRET_KEY}}`), hex-encoded. |

          | `Authorization` | `Bearer {{pocketAuthToken}}` — from *Authenticate for Payout* (same token as Pocket's *Authenticate*), not the OAuth `{{BearerToken}}`. |


          **Body fields**


          **Response: 202 Accepted**

          ```json

          {
              "payoutId": "PV2-ABCDEF123456",
              "status": "PENDING_OTP",
              "message": "OTP sent to registered email. Please confirm to proceed."
          }

          ```

          Save `payoutId` as the `{{payoutId}}` collection variable — it's the path parameter for *Confirm Payout with OTP*.


          **Error responses:**

          - 401 Unauthorized — missing or invalid `X-Seerbit-Signature`

          - 400 Bad Request — missing `Public-Key` header

          - 400 Bad Request — missing/invalid required fields (e.g. "currency is required", "amount must be positive")


          **Note:** this flow doesn't include a separate account-name-confirmation step before initiating — call *Account Enquiry* first if you want to verify the recipient's account name.
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  "/pocket/v2/payouts/{payoutId}/confirm":
    post:
      tags:
        - PAYOUT
      summary: Confirm Payout with OTP
      description: Verify destination accounts and initiate or confirm external bank
        payouts.
      operationId: post_confirm-payout-with-otp_48
      servers:
        - url: https://seerbitapi.com
      parameters:
        - name: payoutId
          in: path
          required: true
          description: Value of payoutId
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                  description: 6-digit code emailed to the merchant. Expires 5 minutes after being
                    issued. It's presumably sent to the email used to log in via
                    *Authenticate for Payout*, though this isn't stated
                    explicitly.
              required:
                - otp
            examples:
              confirm-payout-with-otp:
                summary: Confirm Payout with OTP
                value:
                  otp: "123456"
        description: >-
          Phase 2 of 2 — submits the OTP emailed to the merchant during
          *Initiate Single Payout* / *Initiate Bulk Payout*. On success, SeerBit
          decrypts the payload and dispatches it for processing; this is what
          actually moves money.


          **Path parameter**


          | Parameter | Description |

          |---|---|

          | `payoutId` (in URL path) | From the Initiate call's response, saved to `{{payoutId}}` |


          **Body fields**


          **Response: 200 OK**

          ```json

          {
              "payoutId": "PV2-ABCDEF123456",
              "status": "QUEUED",
              "message": "Payout confirmed and queued for processing",
              "batchId": "BATCH-XYZ"
          }

          ```


          **Error responses (400):**

          - Payout not found

          - Unauthorized access

          - Not in `PENDING_OTP` state

          - OTP has expired

          - Invalid OTP

          - Insufficient funds
      responses:
        "200":
          description: Successful response
      security:
        - BearerAuth: []
  /pocket/v2/payouts#initiate-bulk-payout:
    post:
      tags:
        - PAYOUT
      summary: Initiate Bulk Payout
      description: Verify destination accounts and initiate or confirm external bank
        payouts.
      operationId: post_initiate-bulk-payout_49
      servers:
        - url: https://seerbitapi.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pocketId:
                  type: string
                  description: The Pocket to pay out from
                batchReference:
                  type: string
                  description: Your unique reference for the whole batch. Re-submitting the same
                    `batchReference` is idempotent — returns the existing
                    `payoutId` rather than creating a new batch.
                transfers:
                  type: array
                  description: One entry per recipient — see fields below. Must be non-empty to
                    trigger bulk mode.
                "transfers[]":
                  type: string
                  description: Your unique reference for this individual transfer within the batch
              required:
                - pocketId
                - batchReference
                - transfers
                - transfers[]
            examples:
              initiate-bulk-payout:
                summary: Initiate Bulk Payout
                value:
                  pocketId: SBP0003440
                  batchReference: BATCH-PAY-001
                  transfers:
                    - reference: BULK-REF-001
                      currency: NGN
                      amount: 500
                      description: Payment to vendor A
                      accountNumber: "0522376248"
                      bankCode: "000013"
                    - reference: BULK-REF-002
                      currency: NGN
                      amount: 500
                      description: Payment to vendor B
                      accountNumber: "0522376248"
                      bankCode: "000013"
        description: >-
          Phase 1 of 2 — initiates a payout to multiple recipients in one call,
          sharing a single OTP confirmation. Same endpoint as *Initiate Single
          Payout*; a non-empty `transfers` array is what puts the request in
          bulk mode.


          **Required headers:** same as *Initiate Single Payout* — `Public-Key`, `X-Seerbit-Signature` (HMAC-SHA256 of the raw body using `{{SECRET_KEY}}`), `Authorization: Bearer {{pocketAuthToken}}` from *Authenticate for Payout*.


          **Body fields**


          **Response: 202 Accepted** — same shape as *Initiate Single Payout*: one `payoutId` for the whole batch, `status: "PENDING_OTP"`.


[...]
