openapi: 3.0.1
info:
  title: SeerBit API Reference
  contact: {}
  version: "1.0"
servers:
  - url: https://seerbitapi.com/api/v2
tags:
  - name: AUTHENTICATION
  - name: STANDARD CHECKOUT
  - name: ORDER CHECKOUT
  - name: PAYMENT METHOD
  - name: MOMO
  - name: NON 3DS PAYMENT
  - name: CARD
  - name: ACCOUNT
  - name: TOKENIZE
  - name: AUTHORISE
  # - name: PREAUTHORIZATION
  - name: RECURRENT
  - name: INVOICE
  - name: POCKET
  - name: PAYOUT
  - name: VIRTUAL ACCOUNT
  - name: PAYMENT LINK
  - name: CARD TOKENISATION
paths:
  /encrypt/keys:
    post:
      tags:
        - AUTHENTICATION
      summary: Generate Encrypted Secret Key
      description: "To make API calls on SeerBit, you will be required to pass a bearer token. To generate a token simply pass your pubic and secret key to rceive a token to process further API calls."
      operationId: GenerateEncryptedSecretKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateEncryptedSecretKeyRequest"
        required: true
      responses:
        200:
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateEncryptedSecretKeyResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                404Response:
                  $ref: "#/components/examples/404Response"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      x-codegen-request-body-name: Body
  /encrypt/hashs:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Generate Hash
      description: "This is used to ensure the request payload has not been altered"
      operationId: GenerateHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateHashRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateHashResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                404Response:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      x-codegen-request-body-name: Body
  /payments:
    post:
      tags:
        - STANDARD CHECKOUT
      summary: Payment Link From Checkout
      description: "SeerBit Checkout Standard Initialises a transaction from merchants server to generate a payment link which redirects your customers to a page to make payment and after payment has been made the customer is redirected back to the merchants website."
      operationId: PaymentLinkFromCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentLinkFromCheckoutRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLinkFromCheckoutResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Header Token Missing
          content:
            application/json:
              schema:
                type: object
              examples:
                403Response:
                  $ref: "#/components/examples/403Response"
                403Response1:
                  $ref: "#/components/examples/403Response1"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                404Response:
                  $ref: "#/components/examples/404Response"
                400Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                PaymentLinkFromCheckout500Response:
                  $ref: "#/components/examples/PaymentLinkFromCheckout500Response"
                PaymentLinkFromCheckout500Response1:
                  $ref: "#/components/examples/PaymentLinkFromCheckout500Response1"
                PaymentLinkFromCheckout500Response2:
                  $ref: "#/components/examples/PaymentLinkFromCheckout500Response2"
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /payments/order:
    post:
      tags:
        - ORDER CHECKOUT
      summary: Create Order Before Payment
      description: "Create an order before payment"
      operationId: CreateOrderBeforePayment
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              # CreateOrderRequest:
              #   $ref: '#/components/examples/CreateOrderRequest'
              CreateOrderRequest1:
                $ref: "#/components/examples/CreateOrderRequest2"

        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder200Response:
                  $ref: "#/components/examples/CreateOrder200Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                Order403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response1:
                  $ref: "#/components/examples/Order404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
                500Response5:
                  $ref: "#/components/examples/500Response5"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /products/orders:
    post:
      tags:
        - ORDER CHECKOUT
      summary: Create Order After Payment
      description: "Create an order after payment"
      operationId: CreateOrder
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              CreateOrderRequest:
                $ref: "#/components/examples/CreateOrderRequest"
              # CreateOrderRequest1:
              #   $ref: '#/components/examples/CreateOrderRequest2'

        required: true
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrder201Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                Order403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response1:
                  $ref: "#/components/examples/Order404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
    put:
      tags:
        - ORDER CHECKOUT
      summary: Update Order
      description: "Update an order"
      operationId: UpdateOrder
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              UpdateOrderRequest:
                $ref: "#/components/examples/UpdateOrderRequest"
        required: true
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrder201Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response1:
                  $ref: "#/components/examples/Order404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /products/orders/publicKey/SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u:
    get:
      tags:
        - ORDER CHECKOUT
      summary: Get Orders
      description: "Get a list of orders"
      operationId: GetOrderByPublicKey
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderByPublicKey201Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response2:
                  $ref: "#/components/examples/Order404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
  /products/orders/publicKey/SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u/paymentReference/0w0eimkizc41602513327447:
    get:
      tags:
        - ORDER CHECKOUT
      summary: Get an Order with Payment Reference
      description: "Get order details with payment reference"
      operationId: GetOrderByPublicKeyAndPaymentReference
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderByPublicKeyAndPaymentReference201Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response2:
                  $ref: "#/components/examples/Order404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
  /products/orders/publicKey/SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u/orderId/wil0f47b62:
    get:
      tags:
        - ORDER CHECKOUT
      summary: Get Order with Order Id
      description: "Get order details with OrderId"
      operationId: GetOrderByPublicKeyandOrderId
      responses:
        # 200:
        #   description: ""
        #   content:
        #     application/json:
        #       schema:
        #         $ref: '#/components/schemas/GetOrderByPublicKeyAndOrderIdResponse'
        201:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderByPublicKeyAndOrderId201Response"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response2:
                  $ref: "#/components/examples/Order404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /payments/initiates:
    post:
      tags:
        - PAYMENT METHOD
      summary: Initiate Payment
      description: "Accept more payments with our unified payments API. Accept payments from all major cards and the most popular local and alternative payment methods all in a single integration."
      operationId: InitiatePayment
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              momoRequestPaylaod:
                $ref: "#/components/examples/momoRequestPaylaod"
              cardRequestPaylaod:
                $ref: "#/components/examples/cardRequestPayload"
              accountRequestPaylaod:
                $ref: "#/components/examples/accountRequestPaylaod"
              transferRequestPaylaod:
                $ref: "#/components/examples/transferRequestPaylaod"
              ussdRequestPaylaod:
                $ref: "#/components/examples/ussdRequestPaylaod"

        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                InitiateAccountPaymentResponse:
                  $ref: "#/components/examples/InitiateAccountPaymentResponse"
                InitiateUSSDPaymentResponse:
                  $ref: "#/components/examples/InitiateUSSDPaymentResponse"
                InitiateAccountPaymentS12Response:
                  $ref: "#/components/examples/InitiateAccountPaymentS12Response"
                InitiateAccountPaymentS7Response:
                  $ref: "#/components/examples/InitiateAccountPaymentS7Response"
                InitiateCardPaymentResponse:
                  $ref: "#/components/examples/InitiateCardTransactionsResponse"
                InitiateCardTransactionsS12Response:
                  $ref: "#/components/examples/InitiateCardTransactionsS12Response"
                InitiateCardTransactionsS18Response:
                  $ref: "#/components/examples/InitiateCardTransactionsS18Response"
                InitiateTransferResponse:
                  $ref: "#/components/examples/InitiateTransferResponse"
                GhanaMomoResponse:
                  $ref: "#/components/examples/GhanaMomoResponse"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                # $ref: '#/components/schemas/InitiatePayment400Response'
              examples:
                InitiatePayment400InputResponse:
                  $ref: "#/components/examples/InitiatePayment400InputResponse"
                InitiatePayment400Response:
                  $ref: "#/components/examples/InitiatePayment400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
                # $ref: '#/components/schemas/InitiatePayment403Response'
              examples:
                InitiatePayment403Response:
                  $ref: "#/components/examples/403Response"
                InitiateCardTransactionsResponse403Response:
                  $ref: "#/components/examples/403Response1"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
                500Response1:
                  $ref: "#/components/examples/500Response1"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body

  /banks/merchant/SBTESTPUBK_p8GqvFSFNCBahSJinczKd9aIPoRUZfda:
    get:
      tags:
        - PAYMENT METHOD
      summary: Get Banks
      description: "Get list of banks"
      operationId: GetBanks
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                BanksResponse:
                  $ref: "#/components/examples/BanksResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OTPMomo400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                404Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      # security:
      # - Bearer: []
      x-codegen-request-body-name: Body

  /payments/momo/otp:
    post:
      tags:
        - MOMO
      summary: OTP Momo
      description: "When making MOMO transfers, and OTP is required to complete the payment"
      operationId: OTPMomo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OTPMomoRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                OTPMomoResponse:
                  $ref: "#/components/schemas/OTPMomoResponse"
                OTPMomoResponse1:
                  $ref: "#/components/examples/OTPMomoResponse1"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OTPMomo400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /payments/charge:
    post:
      tags:
        - NON 3DS PAYMENT
      summary: Charge Card
      description: "This payment option is used to charge non 3d transactions"
      operationId: ChargeCard
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              ChargeCardRequest:
                $ref: "#/components/examples/ChargeCardRequest"
        required: true
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                ChargeCardResponse:
                  $ref: "#/components/examples/ChargeCardResponse"
                ChargeCardResponse1:
                  $ref: "#/components/examples/ChargeCardResponse1"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"
                400Response3:
                  $ref: "#/components/examples/400Response3"
                400Response4:
                  $ref: "#/components/examples/400Response4"
                400Response5:
                  $ref: "#/components/examples/400Response5"
                400Response6:
                  $ref: "#/components/examples/400Response6"
                400Response7:
                  $ref: "#/components/examples/400Response7"
                400Response8:
                  $ref: "#/components/examples/400Response8"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
                403Response2:
                  $ref: "#/components/examples/403Response2"
                403Response3:
                  $ref: "#/components/examples/403Response3"
                403Response4:
                  $ref: "#/components/examples/403Response4"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Basic: []
      x-codegen-request-body-name: Body
  /payments/query/STG10948E242065R569A22tAQM85EQW4:
    get:
      tags:
        - CARD
      summary: Check Status
      description: "This Operation allows you to check the status of a transaction via the status check api. This is done by making a Get request to the endpoint below with your payment reference."
      operationId: CheckStatus
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckStatusResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
                CreateOrder400Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
                500Response4:
                  $ref: "#/components/examples/500Response4"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /payments/validate:
    post:
      tags:
        - ACCOUNT
      summary: Validate Transaction
      description: "This option is used to complete an account transaction, when OTP is required"
      operationId: ValidateTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateTransactionRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                ValidateTransactionResponse:
                  $ref: "#/components/examples/ValidateTransactionResponse"
                ValidateTransactionResponse1:
                  $ref: "#/components/examples/ValidateTransactionResponse1"
                ValidateTransactionResponse2:
                  $ref: "#/components/examples/ValidateTransactionResponse2"
                ValidateTransactionResponse3:
                  $ref: "#/components/examples/ValidateTransactionResponse3"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /payments/tokenize:
    post:
      tags:
        - TOKENIZE
      summary: Tokenize a Card
      description: "In order to store your customers payment details, you need to pass some additional parameter when making the first payment request using the payments/tokenize endpoint, the Cvv field and pin are optional(this could be null). After the first  payment is made, the payment details is collected and a token is generated for it which is then stored for future use."
      operationId: TokenizeaCard
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              TokenizeaCardRequest:
                $ref: "#/components/examples/TokenizeaCardRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenizeCardResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response9:
                  $ref: "#/components/examples/400Response9"
                400Response10:
                  $ref: "#/components/examples/400Response10"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenizeCard401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                403Response3:
                  $ref: "#/components/examples/403Response3"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                404Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Basic: []
      x-codegen-request-body-name: Body
  /payments/authorise:
    post:
      tags:
        - AUTHORISE
      summary: Authorise
      description: "In SeerBit API, the term “authorisation” indicates, that payment is authorised but not captured. This allows a merchant to cancel transaction at their discretion, typically based but not limited to fraud-related activities. This authorisation state is valid for a limited period of time, which provides a window to cancel the transaction."
      operationId: Authorise
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              AuthoriseRequest:
                $ref: "#/components/examples/AuthoriseRequest"
              AuthorisewithCardTokenRequest:
                $ref: "#/components/examples/AuthorisewithCardTokenRequest"
        required: true
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                Authorise201Response:
                  $ref: "#/components/examples/Authorise201Response"
                Authorise201Response1:
                  $ref: "#/components/examples/Authorise201Response1"
                AuthorisewithCardTokenResponse1:
                  $ref: "#/components/examples/AuthorisewithCardTokenResponse1"
                AuthorisewithCardTokenResponse:
                  $ref: "#/components/examples/AuthorisewithCardTokenResponse"

        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response3:
                  $ref: "#/components/examples/400Response3"
                400Response5:
                  $ref: "#/components/examples/400Response5"
                400Response6:
                  $ref: "#/components/examples/400Response6"
                400Response7:
                  $ref: "#/components/examples/400Response7"
                400Response8:
                  $ref: "#/components/examples/400Response8"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response1:
                  $ref: "#/components/examples/401Response1"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
                403Response2:
                  $ref: "#/components/examples/403Response2"
                403Response3:
                  $ref: "#/components/examples/403Response3"
                403Response4:
                  $ref: "#/components/examples/403Response4"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                404Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Basic: []
      x-codegen-request-body-name: Body
  /payments/authorise3ds:
    post:
      tags:
        - AUTHORISE
      summary: 3DS Authorise
      description: "PIN and CVV are not Required to complete Transaction. Authorization is completed on 3DS."
      operationId: 3DSAuthorise
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              3DSAuthoriseRequest:
                $ref: "#/components/examples/3DSAuthoriseRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
              examples:
                3DSAuthoriseResponse:
                  $ref: "#/components/examples/3DSAuthoriseResponse"
                3DSAuthoriseResponse1:
                  $ref: "#/components/examples/3DSAuthoriseResponse1"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
                403Response2:
                  $ref: "#/components/examples/403Response2"
                403Response3:
                  $ref: "#/components/examples/403Response3"
                403Response4:
                  $ref: "#/components/examples/403Response4"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  # /payments/capture:
  #   post:
  #     tags:
  #       - PREAUTHORIZATION
  #     summary: Capture
  #     description: "Captures a payment if supported by the payment method."
  #     operationId: Capture
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/CaptureRequest"
  #       required: true
  #     responses:
  #       201:
  #         description: ""
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               CaptureResponse:
  #                 $ref: "#/components/examples/Capture201Response"
  #               CaptureResponse1:
  #                 $ref: "#/components/examples/Capture201Response1"
  #       400:
  #         description: Method Not Allowed
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/400Response"
  #               400Response2:
  #                 $ref: "#/components/examples/400Response2"
  #               400Response3:
  #                 $ref: "#/components/examples/400Response3"
  #               400Response4:
  #                 $ref: "#/components/examples/400Response4"
  #               400Response5:
  #                 $ref: "#/components/examples/400Response5"
  #               400Response6:
  #                 $ref: "#/components/examples/400Response6"
  #               400Response8:
  #                 $ref: "#/components/examples/400Response8"
  #               400Response11:
  #                 $ref: "#/components/examples/400Response11"

  #       403:
  #         description: Missing Header Token
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               403Response:
  #                 $ref: "#/components/examples/403Response"
  #               403Response2:
  #                 $ref: "#/components/examples/403Response2"
  #               403Response3:
  #                 $ref: "#/components/examples/403Response3"
  #       404:
  #         description: Not Found
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/404Response1"
  #       500:
  #         description: Internal Server Error
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               500Response:
  #                 $ref: "#/components/examples/500Response"
  #     deprecated: false
  #     security:
  #       - Basic: []
  #     x-codegen-request-body-name: Body
  # /payments/refund:
  #   post:
  #     tags:
  #       - PREAUTHORIZATION
  #     summary: Refund
  #     description: "Refunds a payment if supported by the payment method."
  #     operationId: Refund
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/RefundRequest"
  #       required: true
  #     responses:
  #       201:
  #         description: ""
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/Refund201Response"
  #       400:
  #         description: Method Not Allowed
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/400Response"
  #               400Response2:
  #                 $ref: "#/components/examples/400Response2"
  #               400Response3:
  #                 $ref: "#/components/examples/400Response3"
  #               400Response4:
  #                 $ref: "#/components/examples/400Response4"
  #               400Response5:
  #                 $ref: "#/components/examples/400Response5"
  #               400Response6:
  #                 $ref: "#/components/examples/400Response6"
  #               400Response8:
  #                 $ref: "#/components/examples/400Response8"
  #               400Response11:
  #                 $ref: "#/components/examples/400Response11"
  #       403:
  #         description: Missing Header Token
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               403Response:
  #                 $ref: "#/components/examples/403Response"
  #               403Response2:
  #                 $ref: "#/components/examples/403Response2"
  #               403Response3:
  #                 $ref: "#/components/examples/403Response3"
  #       404:
  #         description: Not Found
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/404Response1"
  #       500:
  #         description: Internal Server Error
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               500Response:
  #                 $ref: "#/components/examples/500Response"
  #     deprecated: false
  #     security:
  #       - Basic: []
  #     x-codegen-request-body-name: Body
  # /payments/cancel:
  #   post:
  #     tags:
  #       - PREAUTHORIZATION
  #     summary: Cancel
  #     description: "Cancel a payment if supported by the payment method."
  #     operationId: Cancel
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/CancelRequest"
  #       required: true
  #     responses:
  #       201:
  #         description: ""
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/Cancel201Response"
  #       400:
  #         description: Method Not Allowed
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/400Response"
  #               400Response2:
  #                 $ref: "#/components/examples/400Response2"
  #               400Response3:
  #                 $ref: "#/components/examples/400Response3"
  #               400Response4:
  #                 $ref: "#/components/examples/400Response4"
  #               400Response5:
  #                 $ref: "#/components/examples/400Response5"
  #               400Response6:
  #                 $ref: "#/components/examples/400Response6"
  #               400Response11:
  #                 $ref: "#/components/examples/400Response11"
  #       403:
  #         description: Missing Header Token
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               403Response2:
  #                 $ref: "#/components/examples/403Response2"
  #               403Response3:
  #                 $ref: "#/components/examples/403Response3"
  #       404:
  #         description: Not Found
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               400Response:
  #                 $ref: "#/components/examples/404Response1"
  #       500:
  #         description: Internal Server Error
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #             examples:
  #               500Response:
  #                 $ref: "#/components/examples/500Response"
  #     deprecated: false
  #     security:
  #       - Basic: []
  #     x-codegen-request-body-name: Body
  /recurring/subscribes:
    post:
      tags:
        - RECURRENT
      summary: Initiate Subscription
      description: "To complete this transaction, merchant is expected to redirect to the 3DSecure site via the redirect URL provided with the response below. However if the redirect url is not returned and the code is S20 and the message is transaction is pending, the Validate OTP endpoint should be called as the customer would have received a token either by email or sms on the customers phone. To get the subscription created or the status of a subscription for the customer, the GET Subscription endpoint is called by passing the paymentReference as billingId."
      operationId: InitiateSubscription
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              InitiateSubscriptionRequest:
                $ref: "#/components/examples/InitiateSubscriptionRequest"
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateSubscriptionResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response12"
                400Response3:
                  $ref: "#/components/examples/400Response13"
                400Response4:
                  $ref: "#/components/examples/400Response14"
                400Response5:
                  $ref: "#/components/examples/400Response15"
                400Response6:
                  $ref: "#/components/examples/400Response16"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                401Response:
                  $ref: "#/components/examples/401Response"
        403:
          description: Missing Header Token
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateOrder403Response:
                  $ref: "#/components/examples/Order403Response"
                403Response:
                  $ref: "#/components/examples/403Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/404Response"
        409:
          description: Conflict
          content:
            application/json:
              schema:
                type: object
              examples:
                409Response:
                  $ref: "#/components/examples/409Response"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body
  /recurring/billingId/TPR2181t55PER542RPP1U1W4391WO:
    get:
      tags:
        - RECURRENT
      summary: Get a Subscription
      description: "Get customer subscription"
      operationId: GetaSubscription
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubscriptionResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
      x-codegen-request-body-name: Body

  # create a plan
  /recurrent/plan/create:
    post:
      tags:
        - RECURRENT
      summary: Create Plan
      description: "Create a new recurring payment plan."
      operationId: CreatePlan
      servers:
        - url: https://merchants.seerbitapi.com/api/v1
          description: SeerBit Merchant Recurring Server
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlanRequest"
            examples:
              CreatePlanRequest:
                value:
                  productId: "Plan name"
                  productDescription: "Description of Plan"
                  amount: "100"
                  billingCycle: "HOURLY"
                  limit: 5
                  publicKey: "SBPUBK_xxxxx"
                  country: "NG"
                  currency: "NGN"
                  allowPartialDebit: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePlanResponse"
              examples:
                CreatePlanResponse:
                  value:
                    payload:
                      country: "NG"
                      createdAt: 1715607343498
                      amount: 100
                      productId: "Plan name"
                      billingCycle: "HOURLY"
                      currency: "NGN"
                      payUrl: "https://pay.seerbitapi.com/db1ea861993689a57dac"
                      details:
                        country: "NG"
                        amount: 100
                        productId: "Plan name"
                        allowPartialDebit: false
                        payLinkUrl: "https://pay.seerbitapi.com/db1ea861993689a57dac"
                        publicKey: "SBPUBK_xxxxx"
                        createdAt: 1715607343498
                        trialDuration: 0
                        trialPeriod: false
                        billingCycle: "HOURLY"
                        limit: 5
                        planId: "db1ea861993689a57dac"
                        currency: "NGN"
                        id: 20031
                        productDescription: "Description of Plan"
                        updatedAt: null
                        status: "ACTIVE"
                      publicKey: "SBPUBK_xxxxx"
                      plan: "db1ea861993689a57dac"
                      productDescription: "Description of Plan"
                    message: "Successful"
                    status: "SUCCESS"
                    responseCode: "00"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPlan:
                  value:
                    message: "Invalid Authentication Token"
                    error: "INPUT"
        404:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                BadRequestPlan:
                  value:
                    message: "Bad Request"
                    error: "There has been a problem with reading or understanding the request."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Plan500Response:
                  value:
                    message: "Internal server error"
      security:
        - Bearer: []
      deprecated: false
  # get merchant subscription plans
  /recurring/publicKey/{publicKey}:
    get:
      tags:
        - RECURRENT
      summary: Get Merchant Subscription
      description: "Retrieve all subscriptions for a merchant by their public key."
      operationId: GetMerchantSubscription
      servers:
        - url: https://seerbitapi.com/api/v2
          description: SeerBit API Server
      parameters:
        - name: publicKey
          in: path
          required: true
          description: The merchant public key.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMerchantSubscriptionResponse"
              examples:
                GetMerchantSubscriptionResponse:
                  value:
                    status: "SUCCESS"
                    data:
                      subscriptions:
                        - publicKey: "SBTEST**************************viTF"
                          amount: "20"
                          country: "NG"
                          customerId: "651d33a62ad69c9f37c4"
                          cardName: "Jane Smith"
                          cardNumber: "2223-00xx-xxxx-0007"
                          plan: "ae702f51220000722dca"
                          status: "ACTIVE"
                          billingId: "WQ6676yPOpr12348o"
                          authorizationCode: "2beb0ccdd347e604552a"
                          startDate: "2019-01-11 00:00:00"
                          createdAt: 1578648329000
                        - publicKey: "SBTEST**************************viTF"
                          amount: "100"
                          country: "NG"
                          customerId: "ba981a0b7ed1c68ad245"
                          cardName: "Jane Smith"
                          cardNumber: "5123-45xx-xxxx-0008"
                          plan: "ead5e697f42c1cd60813"
                          status: "ACTIVE"
                          billingId: "PUBK_PjQ5d1578649732262"
                          authorizationCode: "145a3bb3418824c14d65"
                          startDate: "2020-10-01 10:47:49"
                          createdAt: 1578649752000
                      code: "00"
                      message: "successful"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedMerchantSubscription:
                  value:
                    message: "Invalid Authentication Token"
                    error: "INPUT"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                NotFoundMerchantSubscription:
                  value:
                    message: "Not Found"
                    error: "The server can not find the requested resource"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                MerchantSubscription500Response:
                  value:
                    message: "Internal Server Error"
      security:
        - Bearer: []
      deprecated: false
  # charge subscription
  /recurring/charge:
    post:
      tags:
        - RECURRENT
      summary: Charge Subscription
      description: "Charge a recurring subscription using an authorization code."
      operationId: ChargeSubscription
      servers:
        - url: https://seerbitapi.com/api/v2
          description: SeerBit API Server
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeSubscriptionRequest"
            examples:
              ChargeSubscriptionRequest:
                value:
                  amount: "200"
                  publicKey: "YOUR_PUBLIC_KEY"
                  email: "js@emaildomain.com"
                  allowPartialDebit: true
                  authorizationCode: "1234567898765325"
                  paymentReference: "2938765582R37065687631"
                  currency: "NGN"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeSubscriptionResponse"
              examples:
                ChargeSubscriptionResponse:
                  value:
                    status: "SUCCESS"
                    data:
                      code: "00"
                      payments:
                        code: "00"
                        message: "Successful"
                        paymentReference: "2938765582R37065687631"
                        publicKey: "SBTEST**************************viTF"
                        amount: "200"
                        currency: "NGN"
                        country: "NG"
                        email: "js@emaildomain.com"
                        productDescription: "Authorised charge"
                      message: "Successful"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedChargeSubscription:
                  value:
                    message: "Invalid Authentication Token"
                    error: "INPUT"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                NotFoundChargeSubscription:
                  value:
                    message: "Not Found"
                    error: "The server can not find the requested resource"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                ChargeSubscription500Response:
                  value:
                    message: "Internal Server Error"
      security:
        - Bearer: []
      deprecated: false
  # get customer subscription
  /recurring/{publicKey}/customerId/{customerId}:
    get:
      tags:
        - RECURRENT
      summary: Get Customer Subscription
      description: "Retrieve all subscriptions for a customer by their customerId and merchant public key."
      operationId: GetCustomerSubscription
      servers:
        - url: https://seerbitapi.com/api/v2
          description: SeerBit API Server
      parameters:
        - name: publicKey
          in: path
          required: true
          description: The merchant public key.
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          description: The customer ID.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerSubscriptionResponse"
              examples:
                GetCustomerSubscriptionResponse:
                  value:
                    status: "SUCCESS"
                    data:
                      subscriptions:
                        - publicKey: "SBTEST**************************viTF"
                          amount: "100"
                          country: "NG"
                          customerId: "ba981a0b7ed1c68ad245"
                          cardName: "Jane Smith"
                          cardNumber: "5123-45xx-xxxx-0008"
                          plan: "ead5e697f42c1cd60813"
                          status: "ACTIVE"
                          billingId: "PUBK_PjQ5d1578649732262"
                          authorizationCode: "145a3bb3418824c14d65"
                          startDate: "2020-10-01 10:47:49"
                          createdAt: 1578649752000
                        - publicKey: "SBTEST**************************viTF"
                          amount: "20000"
                          country: "NG"
                          customerId: "ba981a0b7ed1c68ad245"
                          cardName: "John Smith"
                          cardNumber: "5123-45xx-xxxx-0008"
                          plan: "80b0854b35a0e279efc3"
                          status: "INACTIVE"
                          billingId: "PUBK_PjQ5d1578650322483"
                          authorizationCode: "ddfce36aa4f3abc7cf72"
                          startDate: "2020-10-01 10:58:25"
                          createdAt: 1578650353000
                      code: "00"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedCustomerSubscription:
                  value:
                    message: "Invalid Authentication Token"
                    error: "INPUT"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                NotFoundCustomerSubscription:
                  value:
                    message: "Not Found"
                    error: "The server can not find the requested resource"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                CustomerSubscription500Response:
                  value:
                    message: "Internal Server Error"
      security:
        - Bearer: []
      deprecated: false
  # update customer subscription
  /recurring/updates:
    post:
      tags:
        - RECURRENT
      summary: Update Customer Subscription
      description: "Update a customer's subscription details."
      operationId: UpdateCustomerSubscription
      servers:
        - url: https://seerbitapi.com/api/v2
          description: SeerBit API Server
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerSubscriptionRequest"
            examples:
              UpdateCustomerSubscriptionRequest:
                value:
                  amount: "20000"
                  currency: "NGN"
                  country: "NG"
                  mobileNumber: "08033456500"
                  billingId: "PUBK_PjQ5d1578650322483"
                  publicKey: "YOUR_PUBLIC_KEY"
                  status: "INACTIVE"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomerSubscriptionResponse"
              examples:
                UpdateCustomerSubscriptionResponse:
                  value:
                    status: "SUCCESS"
                    data:
                      subscriptions:
                        publicKey: "SBTEST**************************viTF"
                        amount: "20000"
                        country: "NG"
                        customerId: "ba981a0b7ed1c68ad245"
                        cardName: "Jane Smith"
                        cardNumber: "5123-45xx-xxxx-0008"
                        plan: "80b0854b35a0e279efc3"
                        status: "INACTIVE"
                        billingId: "PUBK_PjQ5d1578650322483"
                        authorizationCode: "ddfce36aa4f3abc7cf72"
                        startDate: "2020-10-01 10:58:25"
                        createdAt: 1578650353000
                      code: "00"
                      message: "Successful"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedUpdateCustomerSubscription:
                  value:
                    message: "Invalid Authentication Token"
                    error: "INPUT"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                NotFoundUpdateCustomerSubscription:
                  value:
                    message: "Not Found"
                    error: "The server can not find the requested resource"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                UpdateCustomerSubscription500Response:
                  value:
                    message: "Internal Server Error"
      security:
        - Bearer: []
      deprecated: false
  # invoice
  /invoice/create:
    post:
      servers:
        - url: https://merchant.seerbitapi.com
          description: SeerBit Merchant Server
      tags:
        - INVOICE
      summary: Create And Send Invoice
      description: "This endpoint is used to create an invoice for a customer."
      operationId: CreateInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
        required: true
      responses:
        201:
          description: "Created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoiceResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"

        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
  /invoice/{publicKey}/send/{invoiceNo}:
    get:
      servers:
        - url: https://merchant.seerbitapi.com
          description: SeerBit Merchant Server
      tags:
        - INVOICE
      summary: Resend An Invoice
      description: "This endpoint is used to resend an invoice to a customer."
      operationId: ResendInvoice
      parameters:
        - name: publicKey
          in: path
          required: true
          description: "This is the merchant public key."
          schema:
            type: string
        - name: invoiceNo
          in: path
          required: true
          description: "This is the invoice number."
          schema:
            type: string
      responses:
        200:
          description: "Created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResendInvoiceResponse"

        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      security:
        - Bearer: []
  # get invoice by customer email
  /invoice/{publicKey}/customer/{customerEmail}:
    get:
      servers:
        - url: https://merchant.seerbitapi.com
          description: SeerBit Merchant Server
      tags:
        - INVOICE
      summary: Get Invoice By Customer Email
      description: "Retrieve all invoices for a customer by their email address."
      operationId: GetInvoiceByCustomerEmail
      parameters:
        - name: publicKey
          in: path
          required: true
          description: The merchant public key.
          schema:
            type: string
        - name: customerEmail
          in: path
          required: true
          description: The customer's email address.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceByCustomerEmailResponse"
              examples:
                GetInvoiceByCustomerEmailResponse:
                  $ref: "#/components/examples/GetInvoiceByCustomerEmailResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []

  # get invoice by invoice number
  /invoice/{publicKey}/{invoiceNo}:
    get:
      servers:
        - url: https://merchant.seerbitapi.com
          description: SeerBit Merchant Server
      tags:
        - INVOICE
      summary: Get Invoice By Invoice Number
      description: "Retrieve an invoice by its invoice number."
      operationId: GetInvoiceByInvoiceNumber
      parameters:
        - name: publicKey
          in: path
          required: true
          description: The merchant public key.
          schema:
            type: string
        - name: invoiceNo
          in: path
          required: true
          description: The invoice number.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceByInvoiceNumberResponse"
              examples:
                GetInvoiceByInvoiceNumberResponse:
                  $ref: "#/components/examples/GetInvoiceByInvoiceNumberResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []

  # get invoice by orderNo
  /invoice/{publicKey}/order/{orderNo}:
    get:
      servers:
        - url: https://merchant.seerbitapi.com
          description: SeerBit Merchant Server
      tags:
        - INVOICE
      summary: Get Invoice By Order Number
      description: "Retrieve an invoice by its order number."
      operationId: GetInvoiceByOrderNumber
      parameters:
        - name: publicKey
          in: path
          required: true
          description: The merchant public key.
          schema:
            type: string
        - name: orderNo
          in: path
          required: true
          description: The order number.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceByOrderNumberResponse"
              examples:
                GetInvoiceByOrderNumberResponse:
                  $ref: "#/components/examples/GetInvoiceByOrderNumberResponse"
        400:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response:
                  $ref: "#/components/examples/400Response"
                400Response1:
                  $ref: "#/components/examples/400Response1"
                400Response2:
                  $ref: "#/components/examples/400Response2"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                400Response1:
                  $ref: "#/components/examples/404Response1"
                400Response2:
                  $ref: "#/components/examples/404Response2"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                500Response:
                  $ref: "#/components/examples/500Response"
      deprecated: false
      security:
        - Bearer: []
  # authenticate pocket
  /pocket/authenticate:
    post:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Authenticate Pocket
      description: "This endpoint is used to authenticate a pocket using the provided key."
      operationId: AuthenticatePocket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PocketAuthRequest"
            examples:
              PocketAuthRequest:
                value:
                  email: your pocket email
                  password: your password
      responses:
        200:
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PocketAuthResponse"
              examples:
                PocketAuthResponse:
                  value:
                    responseCode: "00"
                    message: Success
                    data:
                      bearerToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.randomtoken"
                      expiryTime: "2025-07-07T20:12:28"
                      requirePasswordChange: true
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocketAuth:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                PocketAuth500Response:
                  value:
                    responseCode: "96"
                    message: Internal Server Error
      deprecated: false
  # adding a sub-pocket
  /pocket/pocket-id/{PocketID}/sub-pocket:
    post:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Add Sub-Pocket
      description: "Create a sub-pocket under a parent pocket."
      operationId: AddSubPocket
      parameters:
        - name: PocketID
          in: path
          required: true
          description: The parent pocket ID.
          schema:
            type: string
        - name: public-key
          in: header
          required: true
          description: The merchant public key.
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AddSubPocketRequest"
            examples:
              AddSubPocketRequest:
                value:
                  - tagGroup: ""
                    reference: "Create_subpo77899ck987et45"
                    pocketFunction: "BOTH"
                    currency: "NGN"
                    tagName: ""
                    selfOwned: false
                    pocketOwner:
                      existingPocketOwner: "false"
                      pocketOwnerDetails:
                        firstName: "Bola"
                        lastName: "Are"
                        emailAddress: "youremail.com"
                        phoneNumber: "08824485749"
                        businessName: "samsn and sons"
      responses:
        200:
          description: Sub-pocket created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddSubPocketResponse"
              examples:
                AddSubPocketResponse:
                  value:
                    responseCode: "00"
                    message: Success
                    data:
                      - pocketId: "SBP0018103"
                        parentId: 3771
                        bankAccountNumber: "7750209735"
                        bankAccountName: "samsn and sons"
                        bankCode: "WEMA"
                        bankName: "Wema Bank"
                        canRetailPockets: false
                        subPocketUserResponse:
                          userName: "youremail.com"
                          password: "$2a$12$VCyQhEK0ULRoxuZXXEEzJ.N56.fE5tiY6u2fxm7KWzEAUnVVDMn5K"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocket:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Pocket500Response:
                  value:
                    responseCode: "400"
                    message: Internal Server Error
      security:
        - Bearer: []
      deprecated: false
  # get pocket details
  /pocket/pocket-id/{PocketID}:
    get:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Get Pocket Details
      description: "Retrieve details of a pocket by its ID."
      operationId: GetPocketDetails
      parameters:
        - name: PocketID
          in: path
          required: true
          description: The pocket ID.
          schema:
            type: string
        - name: public-key
          in: header
          required: true
          description: The merchant public key.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPocketDetailsResponse"
              examples:
                GetPocketDetailsResponse:
                  value:
                    responseCode: "00"
                    message: "Success"
                    data:
                      pocketId: "SBP0016348"
                      accountNumber: "0010028394"
                      status: "ACTIVE"
                      pocketFunction: "BOTH"
                      availableBalanceAmount: "2873651.75"
                      availableBalanceCurrency: "NGN"
                      ledgerBalanceAmount: "2873651.75"
                      ledgerBalanceCurrency: "NGN"
                      parentId: null
                      fundingLink: "?ps=JJUGwRt5&po=SBP0016348"
                      accountVerifierScheme: "BVN"
                      accountVerifierNumber: "00000000000"
                      reference: "primary-zbscq5nj"
                      tier: "UNLIMITED"
                      subPockets: null
                      pocketOwner:
                        pocketOwnerId: "JJUGwRt5"
                        businessName: "Kings Cafe"
                        firstName: "Kings Cafe"
                        lastName: "Kings Cafe"
                        emailAddress: "tonyadeyeye1@gmail.com"
                        phoneNumber: "08033453733"
                        ownerVerifierScheme: "NIN"
                        ownerVerifierNumber: "00000000000"
                      pocketAccounts:
                        - accountId: "ag61lht8d5i0"
                          accountNumber: "4013383325"
                          bankCode: "9PSB"
                          bankName: "9 Payment Service Bank  "
                          reference: "9gyw1pcbfvo74l3ns"
                      pocketFundings: null
                      pocketLimits: []
                      pocketMomos: []
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocket:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Pocket500Response:
                  value:
                    responseCode: "400"
                    message: Internal Server Error
      security:
        - Bearer: []
      deprecated: false
  # get pocket balance
  /pocket/balance/pocket-id/{PocketID}:
    get:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Get Pocket Balance
      description: "Retrieve the balance of a pocket by its ID."
      operationId: GetPocketBalance
      parameters:
        - name: PocketID
          in: path
          required: true
          description: The pocket ID.
          schema:
            type: string
        - name: public-key
          in: header
          required: true
          description: The merchant public key.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPocketBalanceResponse"
              examples:
                GetPocketBalanceResponse:
                  value:
                    responseCode: "00"
                    message: "Success"
                    data:
                      balanceAt: "2025-07-07T15:44:00"
                      availableBalanceCurrency: "NGN"
                      availableBalanceAmount: "2873651.75"
                      lastTransactionAt: "2025-07-07T08:49:23"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocket:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Pocket500Response:
                  value:
                    responseCode: "400"
                    message: Internal Server Error
      security:
        - Bearer: []
      deprecated: false
  # Get merchant sum
  /pocket/balances-summation/pocket-id/{PocketID}:
    get:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Get Merchant Sum
      description: "Retrieve the sum of balances for a merchant's pockets."
      operationId: GetMerchantSum
      parameters:
        - name: PocketID
          in: path
          required: true
          description: The pocket ID.
          schema:
            type: string
        - name: public-key
          in: header
          required: true
          description: The merchant public key.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMerchantSumResponse"
              examples:
                GetMerchantSumResponse:
                  value:
                    responseCode: "00"
                    message: "Success"
                    data:
                      merchantSubPocketsBalanceSummation: ""
                      merchantSubPocketsBalanceSummationCurrency: "NGN"
                      merchantAllPocketsBalanceSummation: "631.75"
                      merchantAllPocketsBalanceSummationCurrency: "NGN"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocket:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Pocket500Response:
                  value:
                    responseCode: "400"
                    message: Internal Server Error
      security:
        - Bearer: []
      deprecated: false
  # Get Transaction details
  /pocket/transaction/reference/{reference}:
    get:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Get Transaction Details
      description: "Retrieve details of a pocket transaction by its reference."
      operationId: GetPocketTransactionDetails
      parameters:
        - name: reference
          in: path
          required: true
          description: The transaction reference.
          schema:
            type: string
        - name: public-key
          in: header
          required: true
          description: The merchant public key.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPocketTransactionDetailsResponse"
              examples:
                GetPocketTransactionDetailsResponse:
                  value:
                    responseCode: "00"
                    message: "Success"
                    data:
                      reference: "Charge-000015250618102028000001302219-pr6ndt"
                      pocketId: "SBP0016348"
                      transactionLeg: "DEBIT"
                      transactionAmount: "0.00"
                      transactionCurrency: "NGN"
                      narration: "Reason:Fee:Debited:SBP0016348:Amount:NGN0.00"
                      description: "Fee - Funding by account - Primary pockets"
                      createdAt: "2025-06-18T09:21:07"
                      createdBy: "pockets@seerbit.com"
                      transactionId: "n1a0sl6q29d5"
                      transactionType: "FEE"
                      batchId: null
                      status: "00"
                      message: "Success"
                      receiverName: "Office"
                      receiverAccountNumber: "0010010001"
                      receiverBankCode: "SEERBIT"
                      receiverBankName: null
                      sender: "Kings Cafe"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                UnauthorizedPocket:
                  value:
                    responseCode: "01"
                    message: Invalid credentials
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
              examples:
                Pocket500Response:
                  value:
                    responseCode: "400"
                    message: Internal Server Error
      security:
        - Bearer: []
      deprecated: false
  # Find transactions
  /pocket/transaction/search?pocketId={pocketId}&page={page}&size={size}:
    get:
      servers:
        - url: https://pocket.seerbitapi.com
          description: SeerBit Pocket Server
      tags:
        - POCKET
      summary: Find Transactions
      description: "Search for pocket transactions with pagination."
      operationId: FindPocketTransactions
      parameters:
        - name: pocketId
          in: query
          required: true
          description: The pocket ID.
          schema:
            type: string
        - name: page
          in: query
          required: true
          description: Page number (zero-based).
          schema:
            type: integer
            default: 0
[...]
