{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "PREAUTH API",
    "contact": {}
  },
  "host": "seerbitapi.com",
  "basePath": "/api/v2/payments",
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authorise": {
      "post": {
        "summary": "Authorize",
        "tags": [
          "Misc"
        ],
        "operationId": "Authorize",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuthorizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/capture": {
      "post": {
        "summary": "Capture",
        "tags": [
          "Misc"
        ],
        "operationId": "Capture",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaptureRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/refund": {
      "post": {
        "summary": "Refund",
        "tags": [
          "Misc"
        ],
        "operationId": "Refund",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/cancel": {
      "post": {
        "summary": "Cancel",
        "tags": [
          "Misc"
        ],
        "operationId": "Cancel",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/authorise3ds": {
      "post": {
        "summary": "AUTHORISE 3DS",
        "tags": [
          "Misc"
        ],
        "operationId": "AUTHORISE3DS",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AUTHORISE3DSREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "AuthorizeRequest": {
      "title": "AuthorizeRequest",
      "example": {
        "paymentReference": "PREAUTH1234567890987654321CB6",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "cardNumber": "5123450000000008",
        "cvv": "100",
        "expiryMonth": "05",
        "expiryYear": "21",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "100.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardNumber",
        "cvv",
        "expiryMonth",
        "expiryYear",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName"
      ]
    },
    "CaptureRequest": {
      "title": "CaptureRequest",
      "example": {
        "paymentReference": "NGN13002992913",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "5.10",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "currency",
        "country",
        "productDescription",
        "amount",
        "publicKey"
      ]
    },
    "RefundRequest": {
      "title": "RefundRequest",
      "example": {
        "paymentReference": "NGN13002992913",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "5.10",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "currency",
        "country",
        "productDescription",
        "amount",
        "publicKey"
      ]
    },
    "CancelRequest": {
      "title": "CancelRequest",
      "example": {
        "paymentReference": "PREAUTH1234567890987654321CB7",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "country": "NG",
        "productDescription": "test void"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "country",
        "productDescription"
      ]
    },
    "AUTHORISE3DSREQUEST": {
      "title": "AUTHORISE3DSREQUEST",
      "example": {
        "paymentReference": "23451A789S987643128hgfdsfC6W",
        "publicKey": "SBPUBK_OMX6ZNRZPLIHQ9Y0ZG6FCNR0EAYIGIAT",
        "cardNumber": "5242820813772165",
        "cvv": "865",
        "expiryMonth": "02",
        "expiryYear": "22",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "1.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe",
        "callbackUrl": "https://google.com"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardNumber",
        "cvv",
        "expiryMonth",
        "expiryYear",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName",
        "callbackUrl"
      ]
    },
    "AuthorisebyTokenRequest": {
      "title": "AuthorisebyTokenRequest",
      "example": {
        "paymentReference": "PREAUTH1234567890987654391CB7",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "cardToken": "tk_b0a4b2f6-9ac1-485b-b031-9e018d9479bd",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "1.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe",
        "callbackUrl": "https://google.com"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardToken": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardToken",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName",
        "callbackUrl"
      ]
    }
  },
  "security": [
    {
      "auth": []
    }
  ],
  "tags": [
    {
      "name": "Misc",
      "description": ""
    }
  ]
}