{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "seerBit  API",
    "contact": {}
  },
  "host": "seerbitapi.com",
  "basePath": "/api/v2",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/encrypt/keys": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "GENERATE ENCRYPTED SEC KEY",
        "tags": [
          "ENCRYPTIONS"
        ],
        "operationId": "GENERATEENCRYPTEDSECKEY",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GENERATEENCRYPTEDSECKEYREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/initiates": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Initiate Card Transactions",
        "tags": [
          "CARD"
        ],
        "operationId": "InitiateCardTransactions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/InitiateCardTransactionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/update": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "UPDATE PAYMENT",
        "tags": [
          "CARD"
        ],
        "operationId": "UPDATEPAYMENT",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "linkingreference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/query/STG10948E242065R569A22tAQM85EQW4": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "CHECK STATUS",
        "tags": [
          "CARD"
        ],
        "operationId": "CHECKSTATUS",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/otp": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "validate otp",
        "tags": [
          "CARD"
        ],
        "operationId": "validateotp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/validateotprequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/validate": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "validate transaction",
        "tags": [
          "ACCOUNT"
        ],
        "operationId": "validatetransaction",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/validatetransactionrequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/abandon/pub/SBTESTPUBK_p8GqvFSFNCBahSJinczKd9aIPoRUZfda/VERS2FURTHERTESTAc722456784": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Mark Transaction as Abandoned Copy",
        "tags": [
          "ACCOUNT"
        ],
        "operationId": "MarkTransactionasAbandonedCopy",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/merchants/pockets": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Pocket Account Copy",
        "tags": [
          "TRANSFER"
        ],
        "operationId": "PocketAccountCopy",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PocketAccountCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/merchants/transfers": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Middleware Virtual Account",
        "tags": [
          "TRANSFER"
        ],
        "operationId": "MiddlewareVirtualAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MiddlewareVirtualAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/merchants/payments/query/981b71bdecf9e83-3c53c660e8": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "STATUS CHECK FROM DASHBOARD",
        "tags": [
          "TRANSFER"
        ],
        "operationId": "STATUSCHECKFROMDASHBOARD",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Payment link from Checkout Single request",
        "tags": [
          "Checkout Payment"
        ],
        "operationId": "PaymentlinkfromCheckoutSinglerequest",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentlinkfromCheckoutSinglerequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/encrypt/hashs": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "TO GENERATE HASH",
        "tags": [
          "Checkout Payment"
        ],
        "operationId": "TOGENERATEHASH",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TOGENERATEHASHREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/orders": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Create Order",
        "tags": [
          "Order"
        ],
        "operationId": "CreateOrder",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "put": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Update Order",
        "tags": [
          "Order"
        ],
        "operationId": "UpdateOrder",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/orders/publicKey/SBTESTPUBK_PjQ5dFOi522L383MlsQYUMAe6cZYviTF": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Get Order By Public Key",
        "tags": [
          "Order"
        ],
        "operationId": "GetOrderByPublicKey",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/orders/publicKey/SBTESTPUBK_PjQ5dFOi522L383MlsQYUMAe6cZYviTF/paymentReference/4507890940654323307": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Get Order By Public Key And Payment Reference",
        "tags": [
          "Order"
        ],
        "operationId": "GetOrderByPublicKeyAndPaymentReference",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/orders/publicKey/SBTESTPUBK_PjQ5dFOi522L383MlsQYUMAe6cZYviTF/orderId/One444a548": {
      "get": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Get Order By Public Key and Order Id",
        "tags": [
          "Order"
        ],
        "operationId": "GetOrderByPublicKeyandOrderId",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/authorise": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Authorize",
        "tags": [
          "PREAUTH"
        ],
        "operationId": "Authorize",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuthorizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/capture": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Capture",
        "tags": [
          "PREAUTH"
        ],
        "operationId": "Capture",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaptureRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/refund": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Refund",
        "tags": [
          "PREAUTH"
        ],
        "operationId": "Refund",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/cancel": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "Cancel",
        "tags": [
          "PREAUTH"
        ],
        "operationId": "Cancel",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/authorise3ds": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "AUTHORISE 3DS",
        "tags": [
          "PREAUTH"
        ],
        "operationId": "AUTHORISE3DS",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AUTHORISE3DSREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/payments/momo/otp": {
      "post": {
        "description": "\"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\"",
        "summary": "OTP Momo",
        "tags": [
          "Momo African Countries"
        ],
        "operationId": "OTPMomo",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OTPMomoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "GENERATEENCRYPTEDSECKEYREQUEST": {
      "title": "GENERATEENCRYPTEDSECKEYREQUEST",
      "example": {
        "key": "SBTESTSECK_9Cb8dbqR5Rc2JwZaa77P5QYHzQaeGUcrkEMD1dEi.SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u"
      },
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "required": [
        "key"
      ]
    },
    "InitiateCardTransactionsRequest": {
      "title": "InitiateCardTransactionsRequest",
      "example": {
        "publicKey": "SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u",
        "amount": "100.00",
        "fee": "10",
        "fullName": "Kola Victor",
        "mobileNumber": "08028089445",
        "currency": "NGN",
        "country": "NG",
        "paymentReference": "STG10948E242065R569A22tAQM85EQW4",
        "email": "kolawole@gmail.com",
        "productId": "Foods",
        "productDescription": "RASPBERRY",
        "clientAppCode": "kpp64",
        "redirectUrl": "http://checkout-seerbit.surge.sh",
        "paymentType": "CARD",
        "scheduleId": "",
        "channelType": "Mastercard",
        "deviceType": "Apple Laptop",
        "sourceIP": "127.0.0.1:3456",
        "cardNumber": "5123450000000008",
        "cvv": "100",
        "expiryMonth": "05",
        "expiryYear": "21",
        "pin": "####",
        "type": "3DSECURE",
        "source": "",
        "retry": "false",
        "invoiceNumber": "10000123abc123",
        "isCvv": "true"
      },
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "fee": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "clientAppCode": {
          "type": "string"
        },
        "redirectUrl": {
          "type": "string"
        },
        "paymentType": {
          "type": "string"
        },
        "scheduleId": {
          "type": "string"
        },
        "channelType": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "sourceIP": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "retry": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        },
        "isCvv": {
          "type": "string"
        }
      },
      "required": [
        "publicKey",
        "amount",
        "fee",
        "fullName",
        "mobileNumber",
        "currency",
        "country",
        "paymentReference",
        "email",
        "productId",
        "productDescription",
        "clientAppCode",
        "redirectUrl",
        "paymentType",
        "scheduleId",
        "channelType",
        "deviceType",
        "sourceIP",
        "cardNumber",
        "cvv",
        "expiryMonth",
        "expiryYear",
        "pin",
        "type",
        "source",
        "retry",
        "invoiceNumber",
        "isCvv"
      ]
    },
    "validateotprequest": {
      "title": "validateotprequest",
      "example": {
        "transaction": {
          "linkingreference": "F514140001601474357113",
          "otp": "496865"
        }
      },
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/Transaction"
        }
      },
      "required": [
        "transaction"
      ]
    },
    "Transaction": {
      "title": "Transaction",
      "example": {
        "linkingreference": "F514140001601474357113",
        "otp": "496865"
      },
      "type": "object",
      "properties": {
        "linkingreference": {
          "type": "string"
        },
        "otp": {
          "type": "string"
        }
      },
      "required": [
        "linkingreference",
        "otp"
      ]
    },
    "InitiateAccountPaymentRequest": {
      "title": "InitiateAccountPaymentRequest",
      "example": {
        "publicKey": "SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u",
        "amount": "2000.00",
        "fee": "10",
        "fullName": "Samuel Tosin",
        "mobileNumber": "08028089445",
        "currency": "NGN",
        "country": "NG",
        "paymentReference": "VERS2FURTHERTESTAc029456784",
        "email": "kolawole@gmail.com",
        "productId": "Foods",
        "productDescription": "Uba Account Transaction ",
        "clientAppCode": "kpp64",
        "channelType": "BANK_ACCOUNT",
        "redirectUrl": "https://checkout.seerbit.com",
        "callbackUrl": "https://checkout.seerbit.com",
        "paymentType": "ACCOUNT",
        "deviceType": "Apple Laptop",
        "sourceIP": "127.0.0.1:3456",
        "accountName": "kolawole Alagbon",
        "accountNumber": "1234567890",
        "bankCode": "033",
        "bvn": "12345678901",
        "dateOfBirth": "04011984",
        "source": "",
        "retry": "false",
        "invoiceNumber": "1234567891abc123ac"
      },
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "fee": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "clientAppCode": {
          "type": "string"
        },
        "channelType": {
          "type": "string"
        },
        "redirectUrl": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        },
        "paymentType": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "sourceIP": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "accountNumber": {
          "type": "string"
        },
        "bankCode": {
          "type": "string"
        },
        "bvn": {
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "retry": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        }
      },
      "required": [
        "publicKey",
        "amount",
        "fee",
        "fullName",
        "mobileNumber",
        "currency",
        "country",
        "paymentReference",
        "email",
        "productId",
        "productDescription",
        "clientAppCode",
        "channelType",
        "redirectUrl",
        "callbackUrl",
        "paymentType",
        "deviceType",
        "sourceIP",
        "accountName",
        "accountNumber",
        "bankCode",
        "bvn",
        "dateOfBirth",
        "source",
        "retry",
        "invoiceNumber"
      ]
    },
    "validatetransactionrequest": {
      "title": "validatetransactionrequest",
      "example": {
        "linkingReference": "F092648971601293723061",
        "otp": "123456"
      },
      "type": "object",
      "properties": {
        "linkingReference": {
          "type": "string"
        },
        "otp": {
          "type": "string"
        }
      },
      "required": [
        "linkingReference",
        "otp"
      ]
    },
    "InitiateTransferRequest": {
      "title": "InitiateTransferRequest",
      "example": {
        "publicKey": "SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u",
        "fullName": "Samuel Teas",
        "amount": "20.00",
        "mobileNumber": "08033456539",
        "currency": "NGN",
        "country": "NG",
        "paymentReference": "L16FDE3311RSEY2AUA3QWERQPU",
        "email": "kolawole@gmail.com",
        "productId": "Foods",
        "productDescription": "RASPBERRY",
        "clientAppCode": "kpp64",
        "bankCode": "",
        "paymentType": "TRANSFER",
        "deviceType": "Apple Laptop",
        "sourceIP": "127.0.0.1:3456",
        "amountControl": "FIXEDAMOUNT",
        "walletDaysActive": "1",
        "source": "",
        "retry": "false",
        "invoiceNumber": "1234567890abc123ac"
      },
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "clientAppCode": {
          "type": "string"
        },
        "bankCode": {
          "type": "string"
        },
        "paymentType": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "sourceIP": {
          "type": "string"
        },
        "amountControl": {
          "type": "string"
        },
        "walletDaysActive": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "retry": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        }
      },
      "required": [
        "publicKey",
        "fullName",
        "amount",
        "mobileNumber",
        "currency",
        "country",
        "paymentReference",
        "email",
        "productId",
        "productDescription",
        "clientAppCode",
        "bankCode",
        "paymentType",
        "deviceType",
        "sourceIP",
        "amountControl",
        "walletDaysActive",
        "source",
        "retry",
        "invoiceNumber"
      ]
    },
    "PocketAccountCopyRequest": {
      "title": "PocketAccountCopyRequest",
      "example": {
        "bankCode": "058",
        "amount": "100",
        "publicKey": "SBPUBK_LHAZOHANA8VEX2VNUDJJGI46N5CY4VLJ",
        "businessName": "Eat N Go Ltd",
        "accountName": "John Doe",
        "email": "akintoyekolawole@gmail.com",
        "environment": "LIVE",
        "channelType": "transfer",
        "currency": "NGN",
        "productDescription": "testing",
        "country": "NG",
        "bearer": "MERCHANT",
        "pocketReferenceId": "KOLQPWAWL9E14422PV161O",
        "transferAccountType": "STATIC",
        "transferType": "POCKET"
      },
      "type": "object",
      "properties": {
        "bankCode": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "businessName": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "channelType": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "bearer": {
          "type": "string"
        },
        "pocketReferenceId": {
          "type": "string"
        },
        "transferAccountType": {
          "type": "string"
        },
        "transferType": {
          "type": "string"
        }
      },
      "required": [
        "bankCode",
        "amount",
        "publicKey",
        "businessName",
        "accountName",
        "email",
        "environment",
        "channelType",
        "currency",
        "productDescription",
        "country",
        "bearer",
        "pocketReferenceId",
        "transferAccountType",
        "transferType"
      ]
    },
    "MiddlewareVirtualAccountRequest": {
      "title": "MiddlewareVirtualAccountRequest",
      "example": {
        "key": "SBT00000039DERE",
        "phoneNumber": "",
        "amount": "20",
        "email": "",
        "billId": "938972",
        "locationReference": "6242",
        "invoiceNumber": "9379726242",
        "branchPhoneNumber": "08033456500",
        "publicKey": "SBPUBK_LHAZOHANA8VEX2VNUDJJGI46N5CY4VLJ",
        "paymentReference": "W67F591Q0QWA0213211113A",
        "businessName": "Eat N Go Ltd",
        "environment": "LIVE",
        "channelType": "transfer",
        "currency": "NGN",
        "paymentDescription": "testing",
        "country": "NG",
        "bearer": "MERCHANT",
        "transferAccountType": "VIRTUAL",
        "transferType": "TRANSFER",
        "sendSms": true
      },
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "billId": {
          "type": "string"
        },
        "locationReference": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        },
        "branchPhoneNumber": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "businessName": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "channelType": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "paymentDescription": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "bearer": {
          "type": "string"
        },
        "transferAccountType": {
          "type": "string"
        },
        "transferType": {
          "type": "string"
        },
        "sendSms": {
          "type": "boolean"
        }
      },
      "required": [
        "key",
        "phoneNumber",
        "amount",
        "email",
        "billId",
        "locationReference",
        "invoiceNumber",
        "branchPhoneNumber",
        "publicKey",
        "paymentReference",
        "businessName",
        "environment",
        "channelType",
        "currency",
        "paymentDescription",
        "country",
        "bearer",
        "transferAccountType",
        "transferType",
        "sendSms"
      ]
    },
    "MiddlewareStaticAccountRequest": {
      "title": "MiddlewareStaticAccountRequest",
      "example": {
        "phoneNumber": "",
        "amount": "100",
        "email": "",
        "billId": "12345",
        "invoiceNumber": "1234552SBAB3",
        "accountName": "John Doe",
        "locationReference": "52SBAB3",
        "branchPhoneNumber": "08033456500",
        "publicKey": "SBPUBK_LHAZOHANA8VEX2VNUDJJGI46N5CY4VLJ",
        "paymentReference": "SP2W6785QEWQQWA7Q321",
        "businessName": "Eat N Go Ltd",
        "environment": "LIVE",
        "channelType": "transfer",
        "currency": "NGN",
        "paymentDescription": "testing",
        "country": "NG",
        "bearer": "MERCHANT",
        "transferAccountType": "STATIC",
        "transferType": "TRANSFER",
        "sendSms": false
      },
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "billId": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "locationReference": {
          "type": "string"
        },
        "branchPhoneNumber": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "businessName": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "channelType": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "paymentDescription": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "bearer": {
          "type": "string"
        },
        "transferAccountType": {
          "type": "string"
        },
        "transferType": {
          "type": "string"
        },
        "sendSms": {
          "type": "boolean"
        }
      },
      "required": [
        "phoneNumber",
        "amount",
        "email",
        "billId",
        "invoiceNumber",
        "accountName",
        "locationReference",
        "branchPhoneNumber",
        "publicKey",
        "paymentReference",
        "businessName",
        "environment",
        "channelType",
        "currency",
        "paymentDescription",
        "country",
        "bearer",
        "transferAccountType",
        "transferType",
        "sendSms"
      ]
    },
    "PaymentlinkfromCheckoutSinglerequestRequest": {
      "title": "PaymentlinkfromCheckoutSinglerequestRequest",
      "example": {
        "publicKey": "SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u",
        "amount": "10.00",
        "currency": "NGN",
        "country": "NG",
        "paymentReference": "3791091293047WZ73QN",
        "email": "mamadou.diouf@intouchgroup.net",
        "productId": "15013",
        "productDescription": "touch badge",
        "callbackUrl": "https://gutouch.com",
        "hash": "ba3c3b221cafcd6664ae85b62a9579763bfc0ec030f3e95418046eb195d0d9e7",
        "hashType": "sha256"
      },
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "hashType": {
          "type": "string"
        }
      },
      "required": [
        "publicKey",
        "amount",
        "currency",
        "country",
        "paymentReference",
        "email",
        "productId",
        "productDescription",
        "callbackUrl",
        "hash",
        "hashType"
      ]
    },
    "TOGENERATEHASHREQUEST": {
      "title": "TOGENERATEHASHREQUEST",
      "example": {
        "publicKey": "SBTESTPUBK_9sN3TuLgW6a9redEfY48cKKkUa09Pz2u",
        "amount": "10.00",
        "currency": "NGN",
        "country": "NG",
        "paymentReference": "3791091233047WZ73QN",
        "email": "mamadou.diouf@intouchgroup.net",
        "productId": "15013",
        "productDescription": "touch badge",
        "callbackUrl": "https://gutouch.com"
      },
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        }
      },
      "required": [
        "publicKey",
        "amount",
        "currency",
        "country",
        "paymentReference",
        "email",
        "productId",
        "productDescription",
        "callbackUrl"
      ]
    },
    "CreateOrderRequest": {
      "title": "CreateOrderRequest",
      "example": {
        "paymentReference": "uhus574zjx1600253853808",
        "publicKey": "SBTESTPUBK_PjQ5dFOi522L383MlsQYUMAe6cZYviTF",
        "orders": [
          {
            "amount": "100.00",
            "productId": "01089162",
            "productDescription": "FODD ITEM",
            "currency": "NGN"
          },
          {
            "amount": "300.00",
            "productId": "03081869",
            "productDescription": "SKIN CARE",
            "currency": "NGN"
          }
        ]
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          }
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "orders"
      ]
    },
    "Order": {
      "title": "Order",
      "example": {
        "amount": "100.00",
        "productId": "01089162",
        "productDescription": "FODD ITEM",
        "currency": "NGN"
      },
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      },
      "required": [
        "amount",
        "productId",
        "productDescription",
        "currency"
      ]
    },
    "UpdateOrderRequest": {
      "title": "UpdateOrderRequest",
      "example": {
        "paymentReference": "uhus574zjx1600253853808",
        "publicKey": "SBTESTPUBK_PjQ5dFOi522L383MlsQYUMAe6cZYviTF",
        "orders": [
          {
            "amount": "800.00",
            "productId": "03081869",
            "productDescription": "FODD ITEM UPDATE",
            "currency": "NGN",
            "orderId": "One6365e44"
          },
          {
            "amount": "400.00",
            "productId": "01089162",
            "productDescription": "SKIN CARE UPDATE TEST",
            "currency": "NGN",
            "orderId": "Onee4274dc"
          }
        ]
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order1"
          }
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "orders"
      ]
    },
    "Order1": {
      "title": "Order1",
      "example": {
        "amount": "800.00",
        "productId": "03081869",
        "productDescription": "FODD ITEM UPDATE",
        "currency": "NGN",
        "orderId": "One6365e44"
      },
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "orderId": {
          "type": "string"
        }
      },
      "required": [
        "amount",
        "productId",
        "productDescription",
        "currency",
        "orderId"
      ]
    },
    "AuthorizeRequest": {
      "title": "AuthorizeRequest",
      "example": {
        "paymentReference": "PREAUTH124456789798765k3L1CB0",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "cardNumber": "5123450000000008",
        "cvv": "100",
        "expiryMonth": "05",
        "expiryYear": "21",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "100.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardNumber",
        "cvv",
        "expiryMonth",
        "expiryYear",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName"
      ]
    },
    "CaptureRequest": {
      "title": "CaptureRequest",
      "example": {
        "paymentReference": "PREAUTH124456789798765k321CB0",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "5.10",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "currency",
        "country",
        "productDescription",
        "amount",
        "publicKey"
      ]
    },
    "RefundRequest": {
      "title": "RefundRequest",
      "example": {
        "paymentReference": "PREAUTH1244567897987654321CB0",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "5.10",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "currency",
        "country",
        "productDescription",
        "amount",
        "publicKey"
      ]
    },
    "CancelRequest": {
      "title": "CancelRequest",
      "example": {
        "paymentReference": "PREAUTH124456789798765k3L1CB0",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "country": "NG",
        "productDescription": "test void"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "country",
        "productDescription"
      ]
    },
    "AUTHORISE3DSREQUEST": {
      "title": "AUTHORISE3DSREQUEST",
      "example": {
        "paymentReference": "30451A789S987643128hgfdsfP6W",
        "publicKey": "SBPUBK_OMX6ZNRZPLIHQ9Y0ZG6FCNR0EAYIGIAT",
        "cardNumber": "5242820813772165",
        "cvv": "865",
        "expiryMonth": "02",
        "expiryYear": "22",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "1.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe",
        "callbackUrl": "https://google.com"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardNumber",
        "cvv",
        "expiryMonth",
        "expiryYear",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName",
        "callbackUrl"
      ]
    },
    "AuthorisebyTokenRequest": {
      "title": "AuthorisebyTokenRequest",
      "example": {
        "paymentReference": "30451A789S987643128hgfdsfP6W",
        "publicKey": "SBTESTPUBK_dhrpzbRpR34l6VmqkCFOKA94L5E1jSTu",
        "cardToken": "tk_b0a4b2f6-9ac1-485b-b031-9e018d9479bd",
        "currency": "NGN",
        "country": "NG",
        "productDescription": "preauth test capture",
        "amount": "1.00",
        "email": "johndoe@gmail.com",
        "fullName": "john doe",
        "callbackUrl": "https://google.com"
      },
      "type": "object",
      "properties": {
        "paymentReference": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "cardToken": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        }
      },
      "required": [
        "paymentReference",
        "publicKey",
        "cardToken",
        "currency",
        "country",
        "productDescription",
        "amount",
        "email",
        "fullName",
        "callbackUrl"
      ]
    },
    "GhanaMomoRequest": {
      "title": "GhanaMomoRequest",
      "example": {
        "fullName": "john doe",
        "email": "johndoe@gmail.com",
        "mobileNumber": "0248360953",
        "publicKey": "SBPUBK_QGOX9NBAHWDYY1PAFSG2PTDOSSZYEWXM",
        "paymentReference": "O456S5077907982QWEuWAT05M",
        "deviceType": "nokia 3310",
        "sourceIP": "1.0.1.0",
        "currency": "GHS",
        "productDescription": "snacks",
        "country": "GH",
        "network": "MTN",
        "voucherCode": "",
        "fee": "0.00",
        "amount": "1.00",
        "productId": "grocery",
        "paymentType": "MOMO"
      },
      "type": "object",
      "properties": {
        "fullName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "mobileNumber": {
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "paymentReference": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "sourceIP": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "productDescription": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "network": {
          "type": "string"
        },
        "voucherCode": {
          "type": "string"
        },
        "fee": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "paymentType": {
          "type": "string"
        }
      },
      "required": [
        "fullName",
        "email",
        "mobileNumber",
        "publicKey",
        "paymentReference",
        "deviceType",
        "sourceIP",
        "currency",
        "productDescription",
        "country",
        "network",
        "voucherCode",
        "fee",
        "amount",
        "productId",
        "paymentType"
      ]
    },
    "OTPMomoRequest": {
      "title": "OTPMomoRequest",
      "example": {
        "linkingReference": "CF630837081601460887752",
        "otp": "81015"
      },
      "type": "object",
      "properties": {
        "linkingReference": {
          "type": "string"
        },
        "otp": {
          "type": "string"
        }
      },
      "required": [
        "linkingReference",
        "otp"
      ]
    }
  },
  "tags": [
    {
      "name": "ENCRYPTIONS"
    },
    {
      "name": "CARD"
    },
    {
      "name": "ACCOUNT"
    },
    {
      "name": "TRANSFER"
    },
    {
      "name": "Checkout Payment"
    },
    {
      "name": "Order"
    },
    {
      "name": "PREAUTH"
    },
    {
      "name": "Momo African Countries"
    }
  ]
}